<div class="page">
	<bwfe-toolbar></bwfe-toolbar>
	<div class="page-content">
		<bwfe-contact-details></bwfe-contact-details>
		<div class="product-selection">
			<div class="panel">
				<div class="instructions">Please select a product to launch:</div>
				<div class="product-pane-holder">
					<div class="product-pane-border">
						<div class="loading-products" *ngIf="(productsLoading$ | async); else loaded">
							<div >Loading Products</div>
						</div>
						<ng-template #loaded>
							<div class="product-pane" *ngIf="(product$ | async)?.length > 0; else noproducts">
								<perfect-scrollbar [autoPropagation]="true" class="product-scroller">
									<bwfe-product-tile *ngFor="let data of product$ | async" [product]="data" [id]="'product_' + data.id" (click)="selectProduct(data)" [selected]="(selectedProductId$ | async) === data.id"></bwfe-product-tile>
								</perfect-scrollbar>
							</div>
							<ng-template #noproducts>
								<div class="loading-products">
									<div>No Products Found</div>
									<button class="product-location-button" (click)="showProductLocationSettings()">Add Product Locations</button>
								</div>
							</ng-template>						
						</ng-template>
					</div>
				</div>
				<div class="product-pane-footer">
					<button class="okButton" [disabled]="(selectedProductId$ | async) == null" (click)="openProduct()" i18n="[selection button|the product selection button@@productSelectionBtn">OK</button>
				</div>
			</div>
		</div>
	</div>
	<bwfe-footer></bwfe-footer>
</div>