@import "../../styles/theme.scss";

.product-selection {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
}

.instructions {
	padding: 1.6rem 0rem;
	text-align: center;
	font-size: 2.6rem;
}

.product-pane-holder {
	display: flex;
	justify-content: center;
}

.product-pane-border {
	width: 62rem;
	height: 41.28rem;
	border: 0.15rem solid #905BA1;
	border-radius: 1rem;
}

.product-pane {
	margin: 10px 0;
	height: 39.28rem;
}

.panel {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 94rem;
	height: 100%;
	max-height: 55.4rem;
}

.select-bar {
	display: flex;
	justify-content: flex-end;
	margin: 8px;
}

.product-pane-footer {
	margin-top: 1.8rem;
	margin-bottom: 1rem;
	display: flex;
	justify-content: center;
}

.okButton {
	padding: 0 5rem;
}

.loading-products {
	font: $product-selection-loading-font;
    text-align: center;
    top: 45%;
    position: relative;
}

.product-location-button {
	border: #FFFFFF;
	font-size: 1rem;
	flex: 0 1 auto;
	width: 15rem;
	height: 2rem;
}