<div class="page">
	<bwfe-toolbar></bwfe-toolbar>
	<div class="page-content">
		<bwfe-contact-details></bwfe-contact-details>
		<div class="state-band" [ngStyle]="productStyle()">
			<div class="state-name">{{(state$ | async)?.name.toUpperCase()}}</div>
		</div>
		<div class="standards">
			<div class="standards-pane">
				<div class="pane-content">
					<div class="tree-holder">
						<bwfe-standards-tree class="standards-tree" [standards]="standards$ | async"></bwfe-standards-tree>
					</div>
					<div class="activities">
						<perfect-scrollbar [autoPropagation]="true" class="product-scroller">
							<bwfe-activity-entry-view *ngFor="let activity of activities$ | async" [activity]="activity" (previewActivityChange)="onPreviewActivity($event)"></bwfe-activity-entry-view>
						</perfect-scrollbar>
					</div>
				</div>
			</div>
		</div>
		<bwfe-presentation-preview (previewViewChange)="previewViewChanged($event)" *ngIf="(preview$ | async) != null" [activity]="preview$ | async"></bwfe-presentation-preview>
	</div>
	<bwfe-footer></bwfe-footer>
</div>
		
	