.search {
	position: absolute;
	width: 100%;
}

.search-heading {
	background: #FFFFFF;
	width: 100%;
	font-size: 1.4rem;
	padding: 0.4rem 0.2rem;
	
}

.search-bar {
	margin: 3rem 0 0 0;
	display: flex;
	flex-direction: row;
}

.search-icon-holder {
	position: absolute;
    top: 4rem;
    right: 2rem;
}

.search-icon {
	background-image: url(../../../assets/icons/search.svg);
	background-repeat: no-repeat;
	background-size: contain;
	/*margin-top: 1.947rem;*/
	margin-left: 1rem;
	width: 2rem;
	height: 2rem;
}

.search-input {
	flex: 1;
	padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-results {
	background: #FFFFFF;
}

.search-button {
	font-size: 2rem;
}

.result {
	background: #FFFFFF;
}

.result:hover {
	background: #AEAEAE;
}

.product-result {
	display: flex;
	flex-direction: row;
}

.product-icon {
	width: 2rem;
	height: 2rem;
}

.product-details {
	font-size: 1.5rem;
}