<div class="search">
	<div *ngIf="isVisible; else show_icon ">
		<div class="search-bar">
				<input class="search-input" type="search" (search)="searchTerm$.next($event.target.value)" #input [placeholder]="placeholder">
				<button (click)="hide()">Close</button>
			</div>
			<div class="search-results">
				<div *ngFor="let result of (results$ | async)" (click)="select(result)">
					<div *ngIf="result.document.type === 0" class="result">
						<div class="product-result">
							<img class="product-icon" [src]="(getProduct$(result) | async)?.iconUrl" alt="Product Icon">
							<div class="product-details">
								<div class="title" aria-rol>{{(getProduct$(result) | async)?.title}}</div>
							</div>
						</div>
					</div>
					<div *ngIf="result.document.type === 1" class="result">
						<div class="standards-result">
							<div class="standards-details">
								<div class="label" aria-rol>{{(getStandards$(result) | async)?.label}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	<ng-template #show_icon>
		<div class="search-icon-holder">
			<div class="search-icon" (click)="show()"></div>
		</div>
	</ng-template>
</div>

