<div class="activity-preview">
	<div class="activity-screenshot" >
		<img [src]="dataUri$ | async" *ngIf="(dataUri$ | async) != null" />
	</div>
	<div class="corner-ribbon top-left">
		<div class="corner-text">
			<div>{{data?.length}}</div>
			<div>slides</div>
		</div>
	</div>
	<div class="loader" *ngIf="loading">Loading...</div>
</div>