@import "../../../styles/theme.scss";

.activity-preview {
	width: $activity-thumbnail-preview-width;
	height: $activity-thumbnail-preview-height;
	border: $activity-thumbnail-preview-border;
	border-radius: $activity-thumbnail-preview-border-radius;
	overflow: hidden;
	background: $activity-thumbnail-preview-background;
}

.corner-ribbon {
	width: $activity-thumbnail-corner-ribbon-width;
	height: $activity-thumbnail-corner-ribbon-height;
	background: $activity-thumbnail-corner-ribbon-background;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	color: $activity-thumbnail-corner-ribbon-text-color;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-left {
	top: -12rem;
	left: -5.7rem;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.corner-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	font-family: $activity-thumbnail-corner-ribbon-font-name;
	font-weight: $activity-thumbnail-corner-ribbon-font-weight;
	font-size: 1.2rem;
	width: 100%;
	height: 100%;
	padding-top: 0.2rem;
	/*padding: 2rem 1rem;*/
}

.activity-screenshot {
	width: 100%;
	height: 100%;
	position: relative;
}

.activity-screenshot > img {
	width: 100%;
	position: absolute;
}

.loader {
	position: absolute;
	top: 0;
}

/* Loading CSS */
.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
}
.loader {
	color: #ffffff;
	font-size: 1.5rem;
	position: relative;
	top: -11rem;
	left: 5rem;
}

