<div #card class="product-card" [ngClass]="{'selected': selected}">
	<img class="product-icon" [src]="imageUrl" alt="Product Icon">
	<div class="product-details">
		<div class="title" aria-rol>{{product.title}}</div>
	</div>
</div>