@import "../../../styles/theme.scss";

.selected {
	background-color: #AEAEAE;
}

.selected > .product-card > .product-details > .title {
	color: #FFFFFF;
}

.product-card {
	/*margin: 10px;*/
	/* width: 59.23rem; */
	height: 9.724rem;
	width: 60.23rem;
	user-select: none;
	display: flex;
	margin-left: 0.05rem;
	transition: width 5s linear,
}

.product-card:hover {
	cursor: pointer;
}

.product-card > .product-icon {
	width: 6rem;
	height: 6rem;
	margin: 1.85rem;
}

.product-card > .product-details {
	display: flex;
	flex-direction: column;
}

.product-card > .product-details > .state-holder {
	padding-left: 1rem;
	padding-top: 0.5rem;
	display: flex;
}

.product-card > .product-details > .state-holder > .state {
	background-color: #AAA;
	color: #FFF;
	margin: 2px;
	padding: 7px;
}

/*.product-card img {
	object-fit: cover;*/ /*this makes de image in src fit to the size of specified below*/
	/*width: 6rem; *//* Here you can use wherever you want to specify the width and also the height of the <img>*/
	/*height: 6rem;
}*/

.product-card > .product-details > .title {
	font-size: 2rem;
	margin: 3.65rem 1rem;
	font-family: $product-tile-details-title-font-name;
	font-weight: $product-tile-details-title-font-weight;
	color: #444444;
}