@import "../../../styles/theme.scss";

.settings-icon-button {
	width: 5rem;
	height: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.settings-icon {
	background-image: url(../../../assets/icons/elipsis.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: center;
	width: 2rem;
	height: 2rem;
	align-self: center;
}

.settings-panel {
	width: 30rem;
	height: 100%;
	position: absolute;
	background: #FFFFFF;
	right: 0;
	top: 0;
	box-shadow: $settings-box-shadow;
	display: flex;
	flex-direction: column;
	padding: 0 0.25rem;
}

.settings-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: $settings-heading-background;
	margin: 0 -0.25rem;
}

.settings-title {
	font: $settings-title-font;
	padding-top: 0.5rem;
	padding-left: 1rem;
	user-select: none;
}

.settings-close-icon {
	font: $settings-close-icon-font;
	justify-self: flex-end;
	padding-right: 0.5rem;
	cursor: default;
}

.settings-panel hr {
	flex: 0 0 100%;
}

.settings-item-title {
	user-select: none;
	font: $settings-item-title-font;
	padding: 0.25rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.loader-holder {
	padding-right: 1rem;
}

.loader {
	border: 0.4rem solid $light-grey; /* Light grey */
    border-top: 0.4rem solid $highlight-color; /* Blue */
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
	animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}