<div>
	<div class="settings-icon-button" #settingsIcon (click)="openSettings()" >
		<div class="settings-icon"></div>
	</div>
	<div class="settings-panel" #settingsPanel *ngIf="show$ | async">
		<div class="settings-heading">
			<div class="settings-title">Settings</div>
			<div class="settings-close-icon" (click)="closeSettings()">&#215;</div>
			
		</div>
		<bwfe-product-location-settings></bwfe-product-location-settings>
		<div>
			<hr>
		</div>
		<div class="settings-item-title " *ngIf="(updateService.checkingForUpdate$ | async) === true; else triggerUpdateCheck">
			Checking for Updates...
			<div class="loader-holder">
				<div class="loader"></div>
			</div>
		</div>
		<ng-template #triggerUpdateCheck>
			<div class="settings-item-title" *ngIf="!(updateService.availableUpdateDetails$ | async); else updateResultView" (click)="checkForUpdate();">Check for Updates {{(updateService.availableUpdateDetails | async)}}</div>
			<ng-template #updateResultView>
				<!-- Available -->
				<div *ngIf="(updateService.availableUpdateDetails$ | async)?.available; else noUpdate">
					<!-- Available but not downloaded -->
					<div class="settings-item-title" *ngIf="!(updateService.availableUpdateDetails$ | async)?.downloaded && (updateService.availableUpdateDetails$ | async)?.percent === 0" (click)="updateService.startDownload()">Download Update</div>
					<!-- Available and downloading -->
					<div class="settings-item-title" *ngIf="!(updateService.availableUpdateDetails$ | async)?.downloaded && (updateService.availableUpdateDetails$ | async)?.percent > 0">Downloading {{(updateService.availableUpdateDetails$ | async)?.percent | number:'1.0-0'}}%</div>
					<!-- Available, downloaded and not portable -->
					<div class="settings-item-title" *ngIf="(updateService.availableUpdateDetails$ | async)?.downloaded && !(updateService.availableUpdateDetails$ | async)?.portable" (click)="updateService.installUpdate()">Install Update</div>
					<!-- Available, downloaded and portable -->
					<div class="settings-item-title" *ngIf="(updateService.availableUpdateDetails$ | async)?.downloaded && (updateService.availableUpdateDetails$ | async)?.portable" (click)="updateService.showUpdate()">Show Update</div>
				</div>
				<!-- Not available -->
				<ng-template #noUpdate>
					<div *ngIf="(updateService.availableUpdateDetails$ | async)?.error; else noUpdateOrError">Error: {{(updateService.availableUpdateDetails$ | async)?.error}}</div>
					<ng-template #noUpdateOrError>
						<div class="settings-item-title">Boardworks is Up to Date</div>
					</ng-template>
				</ng-template>
				
			</ng-template>
		</ng-template>
		<div>
			<hr>
		</div>
		<div class="settings-item-title" (click)="contactDetailsService.toggleContactDetails()">About Boardworks</div>
	</div>
</div>
