<div class="activity-view">
	<bwfe-activity-thumbnail *ngIf="showThumbnail" [data]="activity"></bwfe-activity-thumbnail>
	<div class="activity-details">
		<div class="activity-title">{{activity.displayTitle}}</div>
		<div class="activity-description">{{activity.description}}</div>
		<div class="activity-buttons">
			<button *ngIf="allowPreview" class="preview-button" (click)="previewActivity()">Preview</button>
			<button (click)="launchActivity()">Launch</button>
			<button *ngIf="worksheet$ | async" (click)="launchWorksheet()">Worksheets</button>
		</div>
	</div>  
</div>
