@import "../../styles/theme.scss";

.activity-view {
	display: flex;
	min-height: $activity-thumbnail-preview-height;
	flex-direction: row;
	margin: 1rem;
}

.activity-details {
	margin: 0 1.2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.activity-title {
	font-weight: $activity-entry-title-font-weight;
	font-size: 1.7rem;
}

.activity-description {
	font-size: 1.25rem;
}

.activity-buttons {
	display: flex;
	flex-direction: row;
}

.activity-buttons > button {
	font-size: 1.4rem;
	height: 2.5rem;
	margin-right: 1rem;
}
