<div class="node-item" [ngClass]="nodeClass()" id="node_{{node?.ref}}">
	<div class="node-header" (click)="select()">
		<div class="node-details" [ngClass]="nodeDetailsClass()" >
			<div class="node-arrow" *ngIf="node?.children.length > 0">
				<!--<img src="assets/icons/arrow.svg" alt="">-->
			</div>
			<div class="node-label">
				{{node?.label}}
			</div>
		</div>
	</div>
	<div *ngIf="node?.children.length > 0 && open">
		<bwfe-standards-tree-node *ngFor="let child of node.children" [node]="child"></bwfe-standards-tree-node>
	</div>
</div>
