@import "../../../styles/theme.scss";

.node-item {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.node-details {
	display: flex;
	flex-direction: row;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.node-selected > .node-header {
	background-color: #aeaeae;
}

.node-label {
	font-family: $standards-tree-node-label-font-name;
	font-weight: $standards-tree-node-label-font-weight;
	padding-top: 0.5rem;
}

.node-selected > .node-header .node-details .node-arrow {
	background-color: #FFFFFF;
}

.node-selected.node-activities-empty > .node-header .node-details .node-label {
	color: #FFFFFF;
}

.node-arrow {
	min-width: 1.5rem;
	min-height: 1.82rem;
	width: 1.5rem;
	height: 2.1rem;
	background-color: #905ba1;
	mask-image: url(../../../assets/icons/arrow.svg);
    -webkit-mask-image: url(../../../assets/icons/arrow.svg);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin: 0.5rem;
}

.node-arrow:hover {
	background-color: #aeaeae;
}

.node-arrow:active {
	background-color: #444444;
}

.node-open > .node-header > .node-details > .node-arrow {
	transform: rotate(90deg);
}

.node-item.node-level-0 > .node-header > .node-details {
	padding-left: 1rem;
}

.node-item.node-level-0 > .node-header > .node-details.parent-node {
	padding-left: 0rem;
}

.node-item.node-level-1 > .node-header > .node-details {
	padding-left: 3rem;
}

.node-item.node-level-1 > .node-header > .node-details.parent-node {
	padding-left: 0.5rem;
}

.node-item.node-level-2 > .node-header > .node-details {
	padding-left: 4rem;
}

.node-item.node-level-2 > .node-header > .node-details.parent-node {
	padding-left: 1.5rem;
}

.node-item.node-level-3 > .node-header > .node-details {
	padding-left: 5rem;
}

.node-item.node-level-3 > .node-header > .node-details.parent-node {
	padding-left: 2.5rem;
}

.node-item.node-level-4 > .node-header > .node-details {
	padding-left: 6rem;
}

.node-item.node-level-4 > .node-header > .node-details.parent-node {
	padding-left: 3.5rem;
}


.node-level-0 {
	font-size: 2rem;
}

.node-level-1 {
	font-size: 1.75rem;
}

.node-level-2 {
	font-size: 1.5rem;
}

.node-level-3 {
	font-size: 1.25rem;
}

.node-level-4 {
	font-size: 1rem;
}

.node-activities-empty {
	color: #AEAEAE;
}