@import "../../styles/theme.scss";

.product-view {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: center;
}

.panel {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: auto;
	width: 62.2rem;
	height: 41.2rem;
}

.product-details {
	width: 42.5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 3rem;
}

.product-heading {
	width: 42.5rem;
	display: flex;
	flex-direction: row;
}

.product-icon {
	width: 6rem;
	height: 6rem;
	padding-right: 1.5rem;
}

.product-title {
	font-family: $product-view-title-font-name;
	font-weight: $product-view-title-font-weight;
	font-size: 3.3rem;
}

.product-tagline {
	font-family: $product-view-tagline-font-name;
	font-weight: $product-view-tagline-font-weight;
	font-size: $product-view-tagline-font-size;
	padding: $product-view-tagline-padding;
}
/*
.standards-selection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	height: 14.4rem;
	margin: 2rem 0;
}*/

.standards-selection > .us-product {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	height: 14.4rem;
	margin: 2rem 0;
}

.standards-selection > .us-multi-state {
	height: 20rem;
}

.standards-selection > .uk-product {
	height: 20rem;
	/* margin: 2rem 0; */
}

.standards-selection > .uk-single-state {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	height: 14.4rem;
	margin: 2rem 0;
}

.us-product-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 33rem;
}

.us-product-buttons > button {
	width: 29rem;
	margin-bottom: 0.5rem;
}

.us-product-buttons > button.double-height {
	height: 7rem;
}

.uk-product-buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	width: 33rem;
}

.uk-product-buttons > button {
	width: 29rem;
	margin-bottom: 0.5rem;
}

.uk-product-buttons > button.double-height {
	height: 7rem;
}

.standards-selection > button {
	width: 29rem;
}

.standards-selection > .us-product > button {
	width: 29rem;
}

.standards-selection > .uk-product > button {
	width: 29rem;
}

.or-text {
	font-family: $product-view-or-font-name;
	font-weight: $product-view-or-font-weight;
	font-size: 2.5rem;
}