<div class="page">
	<bwfe-toolbar></bwfe-toolbar>
	<div class="page-content">
		<bwfe-contact-details></bwfe-contact-details>
		<div class="product-view">
			<div class="panel">
				<div class="product-details">
					<div class="product-heading">
						<img class="product-icon" [src]="productIcon$ | async" alt="Product Icon">
						<div class="product-title">{{(product$ | async)?.productTitle}}</div>
					</div>
					<div class="product-tagline" *ngIf="(product$ | async)?.locale === usLocale">{{(product$ | async)?.tagline}}</div>
				</div>
				<div class="standards-selection">
					<div class="us-product" [ngClass]="{'us-multi-state': (product$ | async)?.statesOnly.length > 1}" *ngIf="(product$ | async)?.locale === usLocale; else ukProducts">
						<perfect-scrollbar [autoPropagation]="true" class="product-scroller" *ngIf="(product$ | async)?.statesOnly.length > 1; else singleUsState">
							<div class="us-product-buttons">
								<button *ngFor="let state of (product$ | async)?.statesOnly" [class.double-height]="isDoubleHeightButton(state)" (click)="viewState(state.abbreviation)">{{state.name}}</button>
								<button (click)="viewState('BT')">Browse by topic</button>
							</div>
						</perfect-scrollbar>
						<ng-template #singleUsState>
							<button (click)="viewState()">{{(product$ | async)?.standardsButtonText}}</button>
							<div class="or-text">or</div>
							<button (click)="viewState('BT')">Browse by topic</button>
						</ng-template>
					</div>
					<ng-template #ukProducts>
						<perfect-scrollbar [autoPropagation]="true" class="product-scroller uk-product" *ngIf="(product$ | async)?.statesOnly.length > 1; else singleUkState">
							<div class="uk-product-buttons">
								<button *ngFor="let state of (product$ | async)?.statesOnly" [class.double-height]="isDoubleHeightButton(state)" (click)="viewState(state.abbreviation)">{{state.name}}</button>
								<button (click)="viewState('BT')">Browse by topic</button>
							</div>
						</perfect-scrollbar>
						<ng-template #singleUkState>
							<div class="uk-product uk-single-state">
								<button (click)="viewState()">{{(product$ | async)?.statesOnly[0].name}}</button>
								<div class="or-text">or</div>
								<button (click)="viewState('BT')">Browse by topic</button>
							</div>
						</ng-template>
					</ng-template>
				</div>
			</div>
		</div>
	</div>
	<bwfe-footer></bwfe-footer>
</div>