<div class="tree">
	<perfect-scrollbar [autoPropagation]="true" class="product-scroller">
		<div class="tree-contents">
			<!--<div class="tree-nodes" *ngFor="let child of standards?.children">-->
				<bwfe-standards-tree-node [node]="standards"></bwfe-standards-tree-node>
			<!--</div>-->
		</div>
	</perfect-scrollbar>
</div>