@import "../../../styles/theme.scss";

.toolbar {
	width: 100%;
	box-shadow: $toolbar-box-shadow;
}

.toolbar-band {
	height: $toolbar-band-height;
	display: flex;
	flex-direction: row;
	align-items: center;
	background: $toolbar-band-background;
}

.toolbar > .toolbar-band > .logo {
	background-image: url(../../../assets/icons/logo.svg);
	background-repeat: no-repeat;
	/*margin-top: 1.947rem;*/
	margin-left: 1.435rem;
	width: 27rem;
	height: 3.767rem;
	min-width: 27rem;
}

.toolbar-details {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.toolbar-title {
	text-align: $toolbar-title-text-align;
	/*font-family: "montserrat-semibold";*/
	font-weight: $toolbar-title-font-weight;
	font-size: $toolbar-title-font-size;
	padding: $toolbar-title-padding;
}

.toolbar-icon {
	width: $toolbar-icon-width;
	height: $toolbar-icon-height;
	padding: $toolbar-icon-padding;
}

.root-toolbar.toolbar-details {
	padding: 0 1rem;
}

.toolbar-details > button.location-button {
	/*background: $highlight-color;*/
	border: solid 0.1rem #CCCCCC;
	box-shadow: none;
	color: #CCCCCC;
}