<div class="toolbar" >
	<bwfe-update></bwfe-update>
	<div class="toolbar-band">
		<div class="logo" (click)="contactDetailsService.toggleContactDetails()"></div>
		<div class="toolbar-details" *ngIf="!isRoot(); else rootToolbar">
			<div class="toolbar-title" >{{(product$ | async)?.productTitle}}</div>
			<img class="toolbar-icon" [src]="(product$ | async)?.iconUrl" alt="Product Icon">
		</div>
		<ng-template #rootToolbar>
			<div class="root-toolbar toolbar-details">
				<!--<button class="location-button">{{location.countryCode | async}}</button>-->
				<bwfe-settings></bwfe-settings>
			</div>
		</ng-template>
	</div>
	<!--<bwfe-search [product]="product$ | async"></bwfe-search>-->
</div>