@import "../../../styles/theme.scss";

.slide-preview {
	width: $slide-thumbnail-preview-width;
	height: $slide-thumbnail-preview-height;
	border: $slide-thumbnail-preview-border;
	border-radius: $slide-thumbnail-preview-border-radius;
	overflow: hidden;
	background: $slide-thumbnail-preview-background;
}

.slide-preview:hover {
	filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.8));
}

.slide-screenshot {
	width: 100%;
	height: 100%;
	position: relative;
}

.slide-screenshot > img {
	width: 100%;
	position: absolute;
}

.loader {
	position: absolute;
	top: 0;
}

/* Loading CSS */
.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
}
.loader {
	color: #ffffff;
	font-size: 1.5rem;
	position: relative;
	top: -8rem;
	left: 5rem;
}

