@import "../../styles/theme";

.release-title {
	font-size: 2.25rem;
}

.release-description {
	font-size: 1.25rem;
}

.release-notes {
	font-size: 1.5rem;
	margin: 3rem 2rem;
}

.version-text {
	font-size: 2rem;
	font-weight: $font-weight-semibold;
}