
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" viewBox="340 110 630 472.5">
	<defs>
	<g id="map_0_Layer1_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 319.6 172.3
	Q 319.5228515625 172.3724609375 319.4 172.4
	L 319.65 172.4 319.6 172.3
	M 319.65 172.45
	L 319.2 172.55 320.15 173.55
	Q 320.22265625 172.9939453125 319.85 172.45
	L 319.85 172.85 319.65 172.45 319.65 172.45 Z"/>
	</g>
	
	<g id="States_WA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M -66.55 69.8
	Q -61.6708984375 69.6810546875 -59.3 70
	L -59.25 70
	Q -56.73359375 70.4009765625 -55.05 71.45
	L -54.95 64.05
	Q -54.95234375 63.9482421875 -54.95 63.8
	L -47.9 35.15
	Q -71.4052734375 30.17109375 -96.5 24 -96.467578125 27.883203125 -95.2 33.25 -95.1751953125 33.919921875 -97.1 35.85 -99.0404296875 37.77578125 -99.05 38.95 -99.0494140625 41.5763671875 -100.75 43.7 -102.5095703125 45.9953125 -105.3 46 -108.5982421875 45.940234375 -108.6 43.9 -108.594921875 43.4234375 -108 42.45 -107.0794921875 41.1294921875 -105.65 41.1 -105.4095703125 41.1244140625 -103.35 42.8 -102.4001953125 40.40078125 -102.4 40.1 -102.3994140625 39.2271484375 -103.15 39 -104.18671875 38.669140625 -105.05 37.5 -103.8494140625 37.2220703125 -102.45 36.05 -100.995703125 34.8236328125 -101.05 34.1
	L -101.05 33.6
	Q -108.767578125 32.36015625 -114.25 28.55 -118.2056640625 25.0400390625 -118.25 25.05
	L -118.8 25.35
	Q -119.105078125 28.386328125 -119.1 34.75
	L -119.1 40.1
	Q -119.3189453125 41.075 -117.75 42 -116.13984375 42.9712890625 -116.15 43.75 -116.1494140625 47.090234375 -118.8 52.5 -118.646875 52.58203125 -118.55 52.65 -115.15078125 55.3439453125 -110.3 58.85 -110.210546875 58.93203125 -110.15 59 -109.7361328125 59.298828125 -108.9 62
	L -108.85 62.05
	Q -108.212109375 64.242578125 -107.7 65 -106.6607421875 66.4265625 -105.55 66.45 -104.56171875 66.3865234375 -102.1 65.9 -102.0005859375 65.876953125 -101.9 65.85 -98.784375 65.8345703125 -95.25 68.5 -92.544140625 70.5212890625 -88.75 70.15 -82.8279296875 69.56015625 -74.9 69.85
	L -74.85 69.85
	Q -72.8458984375 69.907421875 -66.55 69.8
	L -66.55 69.8 Z"/>
	</g>
	
	<g id="States_OR_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M -66.5 72
	Q -72.9046875 72.1345703125 -74.95 72.05
	L -74.95 72.05
	Q -82.7318359375 71.808984375 -88.55 72.4
	L -88.55 72.4
	Q -93.2458984375 72.8568359375 -96.6 70.3 -99.35078125 68.214453125 -101.8 68.1 -104.378125 68.6291015625 -105.4 68.65 -107.62265625 68.915625 -109.5 66.3 -110.201171875 65.402734375 -111 62.65
	L -111 62.7
	Q -111.57578125 60.898828125 -111.75 60.6
	L -111.75 60.6
	Q -116.2568359375 57.3361328125 -119.5 54.8 -119.719140625 57.4833984375 -121.55 66.95 -123.791796875 78.88671875 -137.2 96.25
	L -137.6 108.55
	Q -137.4244140625 108.56875 -137.3 108.6 -116.5625 114.5166015625 -96.6 119.65
	L -96.55 119.65
	Q -96.477734375 119.6875 -96.45 119.7 -82.24765625 123.3296875 -68.25 126.5
	L -62 98.4
	Q -62.551171875 97.4623046875 -62.55 95.5 -62.6142578125 90.887109375 -57.85 85.7 -53.8333984375 81.3298828125 -53.75 78.8 -53.725 78.67421875 -53.75 78.55 -53.7361328125 78.31796875 -53.75 78.1 -53.7578125 77.9712890625 -53.8 77.85
	L -54.75 74.85
	Q -54.7873046875 74.7587890625 -54.85 74.65 -56.324609375 72.7294921875 -59.6 72.25 -61.8869140625 71.92265625 -66.5 72 Z"/>
	</g>
	
	<g id="States_AZ_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M -53.15 215.05
	Q -53.2630859375 215.4671875 -53.6 215.7 -53.92734375 215.93359375 -54.35 215.9 -54.7328125 215.8619140625 -55.05 215.55 -57.1876953125 213.413671875 -58.15 213.25 -60.6572265625 213.4361328125 -60.65 217.6 -60.6560546875 218.4076171875 -60.55 228.15
	L -60.55 228.2
	Q -60.55 228.3623046875 -60.55 228.5 -60.5490234375 228.559765625 -60.55 228.6 -60.5720703125 229.069921875 -60.65 229.65
	L -60.65 229.75
	Q -60.71484375 230.7623046875 -60.9 232.15 -60.8759765625 234.4095703125 -60.05 235.4 -58.5974609375 237.025390625 -58.65 238.55 -58.4958984375 238.74453125 -63.1 245.75 -67.0681640625 251.85859375 -67.2 252.5 -67.1123046875 253.199609375 -65.75 255.35 -65.5625 255.6623046875 -65.4 255.95 -65.1126953125 256.371875 -65.2 256.8 -65.3052734375 257.2755859375 -65.7 257.5 -66.083203125 257.775 -66.55 257.65 -66.7193359375 257.626171875 -66.9 257.5 -67.7435546875 258.57890625 -69.9 260.7
	L -31.2 284 -8.45 286.95 1.95 211.3 -49.8 202.8 -53.15 215.05 Z"/>
	</g>
	
	<g id="States_NM_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 66.35 225.45
	L 66.85 218.65 4.15 211.6 -6.25 287.25 1.25 288.25 1.25 282 21.95 283.3 21.95 283.25
	Q 21.9943359375 282.79140625 22.35 282.5 22.701953125 282.205078125 23.15 282.25
	L 61.8 286.35 66.35 225.5 66.35 225.45 Z"/>
	</g>
	
	<g id="States_LA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 199.95 275.6
	L 168.2 275.6 168.2 287.9
	Q 168.2978515625 288.0240234375 168.35 288.15 171.426171875 292.852734375 174.45 296.7 174.4630859375 296.7640625 174.45 296.8 176.2931640625 299.464453125 176.3 303.1 176.3265625 305.4244140625 174.6 307.65
	L 174.6 307.65
	Q 173.467578125 309.1138671875 173.35 309.5 173.35 310.3087890625 174 315.6 174.0041015625 315.675 174 315.75 174.0048828125 318.1748046875 173.2 319.05 174.6572265625 319.71171875 176.2 320.25 176.64140625 320.2697265625 180.1 318.7 180.2095703125 318.7046875 187.75 321.95 191.164453125 321.9453125 192.4 319.65 193.62109375 317.3671875 194.65 317.35 197.9814453125 317.3666015625 200.45 322.25 202.844921875 327.14296875 206.5 327.15 211.665625 327.152734375 212.2 324.25 212.3962890625 324.4140625 213.35 325.95 214.355078125 327.479296875 215 327.45 217.6447265625 327.4833984375 217.75 322.55 219.042578125 323.2376953125 221.9 325.8 224.1345703125 327.8181640625 225.45 327.8 226.3083984375 327.82265625 228.65 327.15
	L 229 326.9
	Q 227.9365234375 324.74921875 224.75 322.35 221.7818359375 320.3345703125 221.75 320.25 222.44765625 319.543359375 222.45 318.7 222.4556640625 317.3654296875 220.45 315 218.4310546875 312.7294921875 217.25 312.7 216.4662109375 312.7271484375 215.85 313.4 215.29921875 314.07265625 213.55 314.05 210.55390625 314.0740234375 210.55 311.95 210.5484375 310.1529296875 212.4 309.15 214.251953125 308.1625 218.2 310.3 220.365234375 311.59921875 221.1 309.05 220.8138671875 308.9921875 220.55 308.75 220.30859375 308.4755859375 219.95 308.2 219.53046875 308.05703125 217.95 304.45 217.8513671875 304.1833984375 217.85 303.9 217.9470703125 303.2029296875 218 302.15
	L 196.8 301.75
	Q 196.331640625 301.7712890625 196 301.45 195.6896484375 301.1130859375 195.7 300.65
	L 195.7 298.1
	Q 195.6962890625 297.9234375 195.75 297.75 196.19765625 296.362109375 199.7 290.25
	L 199.65 290.25
	Q 202.4615234375 285.37421875 202.55 284.15 202.521484375 282.525390625 201.05 278.95
	L 201.05 278.95
	Q 200.375390625 277.337109375 199.95 275.6 Z"/>
	</g>
	
	<g id="States_MS_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 232.7 245.1
	L 210.25 247.25
	Q 210.237109375 247.311328125 210.2 247.35 210.2119140625 247.3744140625 210.2 247.4 209.15546875 249.227734375 209.15 251.5 209.201171875 254.80859375 205.85 256.65
	L 205.8 256.65
	Q 203.7068359375 257.7947265625 203.5 258.75 203.4537109375 260.249609375 202.45 264.75 201.6125 268.77890625 201.6 270.55 201.6041015625 272.3740234375 201.95 274.15 201.980078125 274.221484375 202 274.3 202.3646484375 276.2525390625 203.15 278.1
	L 203.15 278.1
	Q 204.8302734375 282.2544921875 204.8 284.15 204.8935546875 285.6576171875 201.65 291.35
	L 201.6 291.35
	Q 198.4912109375 296.82421875 197.9 298.25
	L 197.9 299.55 219.2 299.9
	Q 219.5345703125 299.933984375 219.8 300.1 220.059765625 300.2568359375 220.2 300.5 220.342578125 300.808203125 220.3 301.1 220.2244140625 302.8142578125 220.1 303.85 221.138671875 306.1810546875 221.25 306.4
	L 221.25 306.4
	Q 221.76171875 306.7583984375 222.15 307.15 222.4759765625 307.48203125 222.45 307.95 222.4759765625 308.4177734375 222.15 308.75 222.1162109375 308.78984375 222.05 308.8 222.735546875 309.78359375 222.8 310.8
	L 222.85 310.85
	Q 226.064453125 307.523828125 229.5 307.5 230.228515625 307.5271484375 231.1 308.2 231.9544921875 308.87265625 233.15 308.85 233.9001953125 308.8767578125 234.55 308.7 234.4759765625 308.562109375 234.45 308.35 230.248046875 277.1423828125 232.7 245.1 Z"/>
	</g>
	
	<g id="States_AL_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 273.4 293.2
	Q 271.5283203125 286.8732421875 271.8 275
	L 260.9 242.45 234.95 244.9
	Q 232.4708984375 276.780078125 236.6 307.85 237.6400390625 307.43046875 238.75 307.3 238.770703125 302.6158203125 240.25 302.6 241.2748046875 302.615625 242.25 305.4 243.2345703125 308.196875 244.25 308.2 246.30859375 308.19609375 246.3 306.1 246.3087890625 304.394140625 245.2 302.75 244.3724609375 301.6236328125 244.15 300.75 244.0916015625 300.780078125 244 300.75 243.55859375 300.7330078125 243.25 300.35 242.944140625 300.0291015625 242.95 299.55 243.0791015625 298.2208984375 243.65 298.25 243.830078125 298.176953125 244 298.15
	L 273.4 293.2 Z"/>
	</g>
	
	<g id="States_TN_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 289.6 223.2
	Q 291.7970703125 221.06328125 292.95 220.5 294.125390625 219.89375 297.7 219.6 299.8818359375 219.408984375 299.95 217.55 299.70546875 215.4916015625 299.6 213.55
	L 288.25 215.1
	Q 288.147265625 215.155859375 288 215.15
	L 218.4 224.6
	Q 218.41640625 224.6634765625 218.4 224.7
	L 218.3 225.1
	Q 218.2638671875 225.319921875 218.15 225.45 217.1826171875 228.7703125 217.1 229
	L 217.1 229
	Q 216.653515625 230.737109375 215.75 231.6 214.79453125 237.144921875 212.3 242.95 212.095703125 243.6349609375 211.45 244.9
	L 233.75 242.75 233.8 242.75
	Q 233.8634765625 242.7466796875 233.9 242.75
	L 234 242.75 274.85 238.9
	Q 276.0046875 233.84765625 279.85 230.8 282.1154296875 229.098828125 286.95 225.7 287.6669921875 225.1470703125 289.6 223.2 Z"/>
	</g>
	
	<g id="States_DE_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 359.25 168.4
	Q 361.372265625 175.033203125 362.7 175.25 364.0669921875 175.2603515625 366.9 174.55 366.5962890625 173.8650390625 366.6 173.2 366.5974609375 170.6248046875 367 169.3 366.7830078125 169.2197265625 366.6 169 366.3392578125 168.68046875 366.1 168.45
	L 366.1 168.4
	Q 364.9251953125 167.303125 363.4 167.45 360.1275390625 167.8490234375 359.2 164.1 359.196484375 164.0369140625 359.2 163.95 358.8412109375 161.0271484375 358.35 158.65
	L 356.5 159
	Q 357.4404296875 161.9224609375 359.2 168.35 359.237109375 168.375 359.25 168.4 Z"/>
	</g>
	
	<g id="States_VT_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 364.75 84.1
	L 364.75 86.1
	Q 364.966796875 86.64765625 365.05 87.5
	L 366.6 87.5
	Q 366.9080078125 87.49609375 367.15 87.65 367.43359375 87.819140625 367.55 88.1 368.7734375 90.2275390625 368.75 94.2 368.771875 98.607421875 369 99.9 370.1728515625 105.6064453125 372.45 110.35 374.1486328125 110.1396484375 374.7 110.15
	L 374.65 110.1
	Q 376.355078125 110.1248046875 378.45 109.75 378.3029296875 107.332421875 377.85 103.25
	L 377.8 103.25
	Q 377.2658203125 97.6466796875 377.25 94.85 377.267578125 91.3380859375 379.5 89.55
	L 379.5 89.55
	Q 380.82734375 88.448828125 380.9 87.35 380.893359375 85.5513671875 379.4 79.8 375.668359375 81.6861328125 364.75 83.85 364.7578125 83.986328125 364.75 84.1 Z"/>
	</g>
	
	<g id="States_RI_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 389.35 119.4
	L 392.3 126.7
	Q 392.6873046875 126.0419921875 393.25 124.55 393.782421875 123.17734375 394.5 122.55
	L 392.6 118.5 389.35 119.4 Z"/>
	</g>
	
	<g id="States_KY_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 261.7 189.95
	Q 259.795703125 191.198828125 257 196
	L 257 196
	Q 253.6138671875 201.7396484375 251.95 201.45 251.59609375 201.4880859375 251.3 201.3 249.899609375 200.3068359375 248.95 199.95 248.5765625 200.953125 248.15 201.8 247.43046875 203.555859375 246 203.85 244.8224609375 204.25234375 243.15 203.5
	L 242.55 203.5
	Q 242.396484375 204.076171875 242.1 204.95 242.0044921875 205.3279296875 241.65 205.55 241.3443359375 205.7640625 240.95 205.7 240.5736328125 205.6943359375 240.3 205.4 238.3935546875 203.6138671875 237.35 203.5 237.071484375 203.66484375 235.75 205
	L 235.75 205
	Q 234.1697265625 206.619921875 232.95 206.8 232.7802734375 209.0359375 232.15 210.7 231.4154296875 212.71875 230.25 212.95 229.75 213.2162109375 229.15 213.1 229.172265625 213.770703125 229.2 214.65
	L 229.2 214.7
	Q 229.213671875 217.2896484375 226.8 217.25 225.3009765625 217.284765625 223.65 216 222.742578125 215.2712890625 221.95 215.2 221.9671875 215.466015625 220.6 217.6
	L 220.6 217.6
	Q 220.3787109375 217.9712890625 220.15 218.3 220.143359375 218.4671875 220.05 218.6
	L 219.9 218.85
	Q 219.8732421875 218.8908203125 219.85 218.9 219.073828125 220.419140625 218.65 222.3
	L 287.1 213
	Q 287.855078125 210.5419921875 288.3 209.5 289.3048828125 207.2154296875 290.4 206.1 290.5828125 205.8580078125 294.2 204.35 295.1390625 203.96015625 295.45 203.15 295.4873046875 203.0970703125 295.5 203.05 295.644921875 202.645703125 295.65 202.15 295.48671875 200.8720703125 292.1 197.75 288.3173828125 194.3779296875 288.35 189.85 287.70390625 189.2970703125 286.8 188.05
	L 286.8 188.05
	Q 285.8755859375 186.83046875 284.95 186.7 284.0212890625 186.77109375 283.05 187.6
	L 283 187.6
	Q 281.3080078125 189.1865234375 280.25 189.05 278.91875 189.153125 273.5 186.3 268.8892578125 183.837890625 267.1 183.75 267.0578125 183.955078125 265.15 185.75
	L 265.15 188.85
	Q 265.13515625 189.329296875 264.8 189.65 264.478125 189.9734375 264 189.95
	L 261.7 189.95 Z"/>
	</g>
	
	<g id="States_WV_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 338.8 171.15
	L 338.8 171.2
	Q 339.199609375 171.0251953125 339.5 170.85 338.933203125 170.257421875 337.85 169.55
	L 337.9 169.55
	Q 336.05390625 168.38671875 334.6 168.35 330.2205078125 168.42109375 320.3 174.5 320.048046875 174.6701171875 319.7 174.65
	L 319.05 174.65
	Q 318.58203125 174.6759765625 318.25 174.35 317.9849609375 174.0724609375 317.95 173.7
	L 317.9 173.65
	Q 317.598828125 173.3427734375 317.6 172.85
	L 317.6 167.05 311.4 168.3
	Q 311.322265625 168.3423828125 311.25 168.35 307.7345703125 168.7673828125 306.4 163.35 306.3990234375 163.3369140625 306.4 163.3 305.8388671875 160.0509765625 305.35 158.15 305.227734375 162.8955078125 305.4 164.8 305.428125 164.8873046875 305.4 164.95 305.4283203125 171.8115234375 303.95 173.55 303.30234375 174.53984375 296.3 178.7 294.900390625 179.7390625 294.1 184.55 293.3609375 189.5830078125 290.6 190.2 290.7591796875 193.569140625 293.6 196.1 298.040625 200.1869140625 297.85 202.15 297.876171875 202.4595703125 297.85 202.75 299.1298828125 203.135546875 300.7 203.8 301.898828125 203.4755859375 305.55 200.5 305.7013671875 200.403515625 305.85 200.35 306.469140625 200.055078125 309.6 199.9 311.389453125 199.84296875 312.05 199.25
	L 312.05 199.25
	Q 316.2029296875 195.0904296875 317.05 188.7 317.790625 182.716015625 321.5 182.4 322.30234375 182.2869140625 323.75 182.1 324.3408203125 181.9248046875 324.65 181.3 325.2751953125 178.3607421875 326.35 175.7
	L 326.35 175.65
	Q 328.887109375 169.5640625 332.55 169.75 333.08671875 169.659375 337.3 171.7 337.8013671875 171.615625 338.8 171.15 Z"/>
	</g>
	
	<g id="States_WI_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 180.65 86.7
	L 180.6 86.7
	Q 180.1998046875 87.1142578125 180.2 87.75 180.21796875 88.7650390625 180.65 89.85 181.233203125 91.4037109375 181.2 92.7 181.3306640625 95.0875 178.1 97.4 176.0923828125 98.874609375 175.95 100.1 176.02578125 100.418359375 176.35 100.75 176.3982421875 100.775390625 176.4 100.8 176.8919921875 101.2640625 177.45 101.25 177.778515625 101.2310546875 178.05 101.35 178.3318359375 101.52734375 178.5 101.8 178.655078125 102.065234375 178.65 102.35
	L 178.65 104.3
	Q 178.65625 104.6646484375 178.45 104.95 176.9806640625 107.2015625 176.95 110.25 176.973828125 112.35078125 177.15 113.55 179.998046875 114.236328125 185.55 117.3 193.29765625 121.6283203125 193.05 124.5 193.1423828125 124.7060546875 192.05 127.1 192.1384765625 127.446875 192.4 127.65 192.4775390625 127.7203125 192.55 127.75 193.0244140625 128.09140625 193.8 128.25 197.5048828125 129.0712890625 197.25 131 197.326953125 132.2373046875 195.85 133.9 195.836328125 133.9494140625 195.8 133.95 195.015625 134.83671875 194.95 135.65 195.173828125 137.5484375 201 141.4 201.0244140625 141.446875 201.05 141.45
	L 226.2 139.55
	Q 225.6970703125 131.9556640625 225.7 125.45 225.7015625 118.066015625 226.15 117.25 226.812890625 115.9443359375 232.2 109.25
	L 232.2 105.65
	Q 230.493359375 105.11484375 228.65 108.05 226.6419921875 111.2578125 225 111.2 224.6822265625 108.633984375 224.65 107.8 224.676171875 107.51015625 226.2 104.1
	L 226.2 104.1
	Q 225.78125 103.8927734375 225.6 103.45 224.3646484375 99.8806640625 222.65 97.95
	L 222.65 97.95
	Q 220.3169921875 95.2333984375 215.85 93.65 209.3607421875 92.4361328125 206 91.45 200.283984375 89.9408203125 198.35 86.25 198.297265625 86.0908203125 198.25 85.9 198.195703125 85.9505859375 198.1 85.95 197.9837890625 86.03828125 197.85 86.1 195.846484375 87.05 194.75 87.05 192.34140625 87.05625 192.95 83.35
	L 190 83.35
	Q 187.644140625 85.7232421875 185.4 85.7 183.7638671875 85.7185546875 183 85 182.825 85.1087890625 182.55 85.1 182.416015625 85.134375 182.25 85.1 181.6919921875 85.71796875 180.65 86.7 Z"/>
	</g>
	
	<g id="States_IN_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 234.15 151.9
	Q 234.1296875 159.83125 234.95 166.8 235.6412109375 172.3771484375 235.65 175.95 235.6451171875 179.569921875 234.6 185.55 234.63828125 187.3998046875 235.05 188.7 235.6462890625 190.4248046875 235.65 192 235.64921875 195.11484375 233.75 197.25 233.725 197.26015625 233.7 197.25 232.3880859375 198.6841796875 232.35 200 232.3595703125 200.7845703125 232.9 204.4 233.386328125 204.21640625 234.15 203.4
	L 234.15 203.45
	Q 236.4619140625 201.0931640625 237.35 201.25 238.6287109375 201.17578125 240.5 202.65
	L 240.6 202.35
	Q 240.598828125 201.90703125 240.9 201.55 241.25703125 201.261328125 241.7 201.25
	L 243.4 201.25
	Q 243.6625 201.26796875 243.9 201.35 244.81328125 201.8251953125 245.4 201.7 245.8640625 201.542578125 246.1 200.9 246.675 199.7216796875 247.2 198.3 247.344921875 197.9740234375 247.6 197.75 247.9216796875 197.5767578125 248.25 197.55 249.6693359375 197.509375 252.1 199.15 252.91953125 198.5189453125 255.05 194.85
	L 255.05 194.9
	Q 258.48359375 189.0228515625 260.85 187.85 261.1234375 187.7509765625 261.4 187.75
	L 262.9 187.75 262.95 185.35 259.7 149.35
	Q 252.8732421875 150.31640625 249.2 150 245.6193359375 149.7373046875 241.8 150.9 241.3580078125 151.0392578125 240.95 150.8 240.555859375 150.6072265625 240.4 150.15 240.3767578125 150.1861328125 240.3 150.2 235.473046875 151.928515625 234.7 151.9 234.4333984375 151.9318359375 234.15 151.9 Z"/>
	</g>
	
	<g id="States_ID_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M -39.95 39.35
	L -39.95 37
	Q -39.9326171875 36.9072265625 -39.95 36.8 -42.784765625 36.21015625 -45.7 35.6
	L -45.7 35.65 -52.75 64.25 -52.85 73.65
	Q -52.6787109375 73.891015625 -52.55 74.15
	L -51.5 78.25
	Q -51.5015625 78.3015625 -51.5 78.35 -51.501953125 78.4708984375 -51.5 78.6 -51.5 78.6958984375 -51.5 78.8 -51.3892578125 81.9634765625 -56.2 87.2 -60.2625 91.621484375 -60.35 95.5 -60.3216796875 96.8419921875 -60 97.3 -59.776953125 97.539453125 -59.7 97.8 -59.616015625 98.086328125 -59.7 98.35
	L -66.05 127
	Q -51.319140625 130.3708984375 -36.8 133.25
	L -36.75 133.25 -36.75 133.25
	Q -22.8501953125 136.0322265625 -8.9 138.4
	L -3.25 104.55 -12.5 104.8
	Q -19.865234375 105.0029296875 -22.5 102.5 -23.8228515625 101.515234375 -24.25 97.5 -24.585546875 94.0474609375 -25.05 93.1 -25.793359375 91.9193359375 -25.85 86.8
	L -25.85 86.75
	Q -25.847265625 85.030859375 -27.35 84.85 -30.0064453125 86.5921875 -31.15 86.5 -33.3646484375 86.49296875 -33.7 84.65 -33.72734375 84.55 -33.75 84.4 -33.725 84.376171875 -33.75 81.9 -33.7572265625 79.1046875 -31.75 75.5
	L -31.75 75.5
	Q -30.200390625 72.6642578125 -30.1 72.4 -30.205078125 71.5798828125 -31.65 70
	L -31.65 70
	Q -34.2185546875 67.4279296875 -35.75 65.75
	L -35.75 65.7
	Q -41.9458984375 58.5841796875 -41.95 49.8 -41.9462890625 47.7134765625 -41.25 44.95
	L -41.25 44.95
	Q -40.2623046875 41.5845703125 -39.95 39.35 Z"/>
	</g>
	
	<g id="States_MT_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 65.9 93.75
	L 65.9 93.7 69.25 53.65
	Q 20.5845703125 49.1072265625 -37.7 37.25
	L -37.7 39.45
	Q -37.694140625 39.535546875 -37.7 39.6 -38.04296875 41.9703125 -39.1 45.55
	L -39.1 45.55
	Q -39.69921875 47.9634765625 -39.7 49.8 -39.6892578125 57.7513671875 -34.1 64.2
	L -34.05 64.25
	Q -32.555078125 65.91484375 -30.05 68.45
	L -30 68.45
	Q -27.748046875 70.930078125 -27.85 72.4 -27.748046875 72.846875 -29.8 76.55
	L -29.8 76.6
	Q -31.46171875 79.596484375 -31.5 81.9 -31.5 83.67578125 -31.5 84.2 -31.3884765625 84.27421875 -31.15 84.25 -30.35234375 84.1822265625 -28.25 82.75 -27.96484375 82.5935546875 -27.65 82.6 -23.6203125 82.56875 -23.65 86.75 -23.5646484375 91.0267578125 -23.1 92.05 -22.4220703125 93.13359375 -22 97.25 -21.72265625 100.0771484375 -21.05 100.85 -18.756640625 102.7435546875 -12.55 102.6
	L -2.85 102.3 -2.15 97.95
	Q -2.0693359375 97.5357421875 -1.7 97.25 -1.327734375 97.009765625 -0.9 97.05
	L 64.85 106.15 65.9 93.75 Z"/>
	</g>
	
	<g id="States_ND_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 131.8 60.05
	Q 131.81953125 57.991015625 131.9 56.45 103.8326171875 56.7791015625 71.5 53.85
	L 68.2 92.75 136.75 96.3
	Q 137.1513671875 95.75 137.75 95.2
	L 137.75 95.15
	Q 138.9791015625 93.9919921875 139 92.75 138.9783203125 91.7650390625 137.75 89.5 136.2474609375 86.724609375 136.05 86.15
	L 136.1 86.3
	Q 135.7267578125 84.8822265625 135.85 81.7 135.9513671875 78.81875 135.75 77.7
	L 135.75 77.7
	Q 134.7298828125 72.668359375 132.9 68.7 131.8228515625 66.3388671875 131.8 60.05 Z"/>
	</g>
	
	<g id="States_SD_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 66.95 107.5
	L 66.95 107.55 64.85 133.05 119.25 136.35
	Q 119.5296875 136.366796875 119.75 136.5 121.5748046875 137.551171875 122.75 138.8 123.49375 139.246875 125.05 139.25 125.884765625 139.2458984375 130.45 138.65 130.5279296875 138.6326171875 130.6 138.6 136.004296875 138.6232421875 139.1 141.6
	L 139.1 106.4
	Q 135.6666015625 102.422265625 135.7 99.3 135.731640625 98.9068359375 135.8 98.5
	L 68.05 95 66.95 107.5 Z"/>
	</g>
	
	<g id="States_WY_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 71.4 34.55
	L 71.4 34.55 73.55 8.95 8.75 -0.05 8.1 4
	Q 8.10234375 4.0744140625 8.1 4.1
	L 8.1 4.15
	Q 8.0884765625 4.2138671875 8.05 4.25
	L 0 52.5 19.75 54.65 19.8 54.65 69.25 60.05 71.4 34.55 Z"/>
	</g>
	
	<g id="States_NE_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 64.65 135.3
	L 62.55 159.75 82.3 161.9
	Q 82.7775390625 161.97734375 83.05 162.3 83.3591796875 162.673828125 83.3 163.1
	L 82.45 176.35 153.4 176.35
	Q 153.18203125 176.1427734375 152.95 175.9 149.9771484375 173.12421875 149 172.15 148.9271484375 172.07734375 148.85 172 148.555859375 171.6607421875 148.45 171.55 146.78359375 169.37421875 143.6 160.4 143.597265625 160.33671875 143.55 160.25 141.1578125 150.0333984375 139.55 146.35 139.3990234375 145.9623046875 139.2 145.6 139.2115234375 145.5849609375 139.2 145.55
	L 139.15 145.45
	Q 136.646875 140.8771484375 130.6 140.85 125.9185546875 141.4865234375 125.05 141.45 122.462109375 141.471875 121.35 140.55 121.29375 140.5177734375 121.2 140.45 120.283984375 139.4142578125 118.85 138.55
	L 64.65 135.3 Z"/>
	</g>
	
	<g id="States_KS_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 155.85 187.65
	Q 153.2865234375 185.0498046875 153.45 184.1 153.4080078125 182.4787109375 154.85 180.95 155.644921875 180.1306640625 155.65 179.25 155.6232421875 178.998046875 155.35 178.55
	L 82.3 178.55 79.75 217.7 158.1 217.7 158.35 190.35
	Q 157.383203125 189.235546875 155.85 187.7
	L 155.85 187.65 Z"/>
	</g>
	
	<g id="States_NV_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M -96 122.1
	L -106.4 160.9 -62.8 226.05
	Q -62.8921875 218.325390625 -62.9 217.6 -62.899609375 210.8626953125 -58.15 211.05 -56.92109375 210.9333984375 -54.85 212.7
	L -51.7 201.25 -38.3 135.2
	Q -52.798046875 132.3357421875 -67.5 128.95 -67.5373046875 128.9802734375 -67.6 128.95
	L -67.65 128.95
	Q -81.7361328125 125.7544921875 -96 122.1 Z"/>
	</g>
	
	<g id="States_UT_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 2.25 209.05
	L 9.5 156.2 -10.35 154.05
	Q -10.628515625 154.015625 -10.9 153.8 -11.1169921875 153.6369140625 -11.25 153.35 -11.3455078125 153.057421875 -11.3 152.75
	L -9.3 140.6
	Q -22.72421875 138.3240234375 -36.1 135.65
	L -49.3 200.6 2.25 209.05 Z"/>
	</g>
	
	<g id="States_CO_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 80.15 177.45
	L 80.15 177.35 81 164.05 61.25 161.85 61.25 161.85 11.7 156.45 4.45 209.4 68 216.5
	Q 68.06171875 216.51875 68.1 216.5
	L 68.15 216.5 77.5 217.55 80.15 177.45 Z"/>
	</g>
	
	<g id="States_OK_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 159.35 227.95
	L 158.25 219.9 78.55 219.9
	Q 78.5349609375 219.9265625 78.5 219.9
	L 78.45 219.9 69.05 218.85 68.65 224.45 99.85 224.45
	Q 100.3427734375 224.448828125 100.65 224.75 100.9884765625 225.10703125 100.95 225.55
	L 100.95 250.95
	Q 102.073828125 253.6060546875 102.25 253.95 102.523828125 253.954296875 103.95 253.95 104.71796875 253.926953125 107.25 253.3 107.3875 253.2712890625 107.5 253.25 109.4423828125 253.081640625 111.65 256.9
	L 116.85 256.9
	Q 118.8197265625 256.84765625 121.2 258.95
	L 121.25 259
	Q 122.8056640625 260.4123046875 125 260.25 128.6646484375 260.0849609375 131.35 261.35
	L 131.35 261.35
	Q 133.63671875 262.464453125 134.95 262.5 135.523828125 262.4732421875 136.5 262.05
	L 136.45 262.05
	Q 137.84453125 261.494921875 139.45 261.5 142.3291015625 261.487890625 147.65 262.5 150.9955078125 262.4865234375 158.95 262.1
	L 159.35 228
	Q 159.372265625 227.9876953125 159.35 227.95 Z"/>
	</g>
	
	<g id="States_AR_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 161.6 228.95
	L 161.15 262.65
	Q 164.596484375 265.48984375 167.8 268.4 168.0005859375 268.5958984375 168.1 268.8 168.198046875 269.0291015625 168.2 269.25
	L 168.2 273.4 199.55 273.4
	Q 199.379296875 271.98671875 199.35 270.55 199.368359375 268.630078125 200.3 264.25 201.215234375 260.0572265625 201.25 258.65 201.1796875 256.5982421875 204.75 254.7
	L 204.75 254.7
	Q 206.8734375 253.5328125 206.9 251.5 206.92109375 248.64921875 208.2 246.35 208.211328125 246.3244140625 208.2 246.3 208.3619140625 246.0306640625 208.5 245.75 208.523046875 245.7373046875 208.55 245.7 208.5826171875 245.6376953125 208.6 245.55 209.8625 243.269921875 210.15 242.35 210.172265625 242.2880859375 210.2 242.2 212.3025390625 237.3455078125 213.3 232.7 213.04453125 232.6994140625 212.75 232.65
	L 209.35 232.65
	Q 209.09609375 232.678515625 208.85 232.55 208.60546875 232.4005859375 208.45 232.15 207.9259765625 231.4251953125 207.9 230.2 207.91875 229.87265625 208.1 229.6 209.41875 227.6298828125 209.5 226.6 209.4921875 225.99921875 209.05 225.45 208.60390625 224.958203125 207.7 224.8
	L 161.6 228.95 Z"/>
	</g>
	
	<g id="States_MN_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 187.7 66
	Q 186.2439453125 65.99609375 183.95 64.85 181.667578125 63.7537109375 180 63.75 176.52578125 63.7564453125 174.2 61.95 172.4978515625 60.128125 172 60.1 171.3880859375 60.12578125 170.05 61.3 168.703515625 62.4212890625 167.5 62.4 165.4634765625 62.4248046875 158.15 59.55 150.546875 56.55390625 150.35 56.55 142.2970703125 56.3326171875 134.15 56.4 134.1515625 56.4619140625 134.15 56.5 134.0587890625 58.0126953125 134.05 60.05 134.0587890625 65.66171875 134.95 67.75 136.8646484375 71.9515625 137.95 77.25
	L 137.95 77.3
	Q 138.19609375 78.5439453125 138.05 81.8 137.9759765625 84.5505859375 138.25 85.8 138.3041015625 85.923046875 138.3 86.05 138.4150390625 86.034375 139.7 88.4
	L 139.75 88.4
	Q 141.3310546875 91.400390625 141.25 92.75 141.3294921875 94.85625 139.3 96.8 139.3 96.8099609375 139.25 96.8 138.7384765625 97.3275390625 138.4 97.85 138.4009765625 97.887890625 138.35 97.9 138.346875 97.950390625 138.3 97.95
	L 138.3 98
	Q 137.9837890625 98.652734375 137.95 99.3 138.048046875 101.856640625 141.05 105.25 141.3271484375 105.575 141.3 106
	L 141.3 127.5 189.85 127.5
	Q 189.8267578125 127.2349609375 189.8 126.95 189.8279296875 126.71640625 189.9 126.5 190.7544921875 124.6017578125 190.8 124.5 190.6025390625 122.6857421875 184.45 119.25 178.599609375 116.0103515625 176.05 115.65 175.70859375 115.605859375 175.45 115.35 175.187109375 115.1509765625 175.1 114.8 174.728125 113.3994140625 174.7 110.25 174.733984375 106.6779296875 176.4 104
	L 176.4 103.35
	Q 175.5650390625 103.1005859375 174.8 102.35
	L 174.85 102.4
	Q 173.6646484375 101.2794921875 173.7 100.1 173.6033203125 97.9203125 176.8 95.6 178.8724609375 94.1107421875 178.95 92.7 178.96953125 91.757421875 178.55 90.6
	L 178.55 90.65
	Q 177.97890625 89.14765625 177.95 87.75 177.974609375 86.104296875 179.1 85.05
	L 179.1 85.05
	Q 180.879296875 83.4134765625 181.15 83.05 181.3587890625 82.771875 181.7 82.65 182.0494140625 82.536328125 182.4 82.65 182.448046875 82.6583984375 182.5 82.65 182.771875 80.7732421875 184.6 79.4 185.6369140625 78.621875 189.25 76.95 195.5869140625 73.93515625 194.3 69.3
	L 197.2 69.3
	Q 201.1708984375 70.3548828125 201.15 67.25 201.17265625 65.544921875 199.55 65.1 198.4857421875 64.769921875 195.05 64.75 188.25859375 66.001953125 187.7 66 Z"/>
	</g>
	
	<g id="States_IA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 192.7 135.65
	Q 192.6732421875 134.0640625 194.15 132.45
	L 194.2 132.45
	Q 194.9431640625 131.5857421875 195 131 194.8275390625 130.77109375 193.3 130.45 192.196484375 130.195703125 191.45 129.75
	L 141.3 129.75 141.3 144.8
	Q 141.475 145.1080078125 141.6 145.45 143.2791015625 149.242578125 145.75 159.75 148.7341796875 168.12109375 150.25 170.15
	L 150.25 170.2 191.35 169.35
	Q 192.2224609375 167.96328125 194.75 166.05 197.227734375 164.18828125 197.6 162.95 195.592578125 160.4115234375 195.7 159.05 195.5107421875 156.2466796875 200 154.5
	L 200 154.5
	Q 201.55234375 153.919140625 203.2 153.55
	L 203.2 149.1
	Q 201.9759765625 146.26015625 201.55 145.35
	L 201.55 145.4
	Q 201.0162109375 144.33828125 200 143.5
	L 200 143.5
	Q 199.948046875 143.4666015625 199.9 143.4 199.8435546875 143.35625 199.75 143.3 192.519921875 138.473046875 192.7 135.65 Z"/>
	</g>
	
	<g id="States_MO_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 192.2 181.35
	Q 190.89453125 176.641796875 190.8 171.6
	L 152.5 172.4
	Q 153.34765625 173.2115234375 154.5 174.3 155.8982421875 175.6421875 156.65 176.6 156.6892578125 176.651953125 156.7 176.65 156.826171875 176.7990234375 156.9 176.95 158.0041015625 178.383984375 157.9 179.25 157.96015625 180.943359375 156.5 182.45 155.7236328125 183.2783203125 155.65 184.1 155.8376953125 184.4892578125 157.4 186.1
	L 157.4 186.1
	Q 159.2455078125 187.9345703125 160.3 189.2 160.601953125 189.512890625 160.6 189.9
	L 160.3 218.75 161.45 226.7 207.6 222.55
	Q 207.7359375 222.546484375 207.85 222.55 209.8650390625 222.86171875 210.8 224.05 211.728125 225.2330078125 211.7 226.6 211.795703125 227.9775390625 210.25 230.4
	L 212.9 230.4
	Q 212.9474609375 230.4220703125 213 230.4 213.60234375 230.490234375 214 230.15 214.0638671875 230.1482421875 214.1 230.1 214.641015625 229.601171875 214.9 228.5 214.98203125 228.25703125 216.1 224.4 216.1513671875 223.9884765625 216.2 223.55
	L 216.2 223.55
	Q 216.58828125 220.4794921875 217.7 218.2 215.37421875 215.5130859375 212.85 208.3 212.425 207.519921875 208.8 205 204.4228515625 202.02890625 204.55 199.35 204.5009765625 197.2248046875 206.8 195.95 206.8505859375 195.9634765625 206.85 195.95 207.9291015625 195.3228515625 207.9 193.5 207.8494140625 192.581640625 206.7 191.8
	L 206.7 191.75
	Q 205.685546875 191.0353515625 205 190.95 199.67265625 190.9794921875 198.8 188.9
	L 198.75 188.85
	Q 196.6892578125 185.1634765625 192.6 181.95 192.30234375 181.7369140625 192.2 181.35 Z"/>
	</g>
	
	<g id="States_CA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M -137.4 110.9
	Q -137.089453125 113.07578125 -137.1 115.2 -137.097265625 117.9630859375 -139.05 119 -141 120.1376953125 -141.05 124.1 -141.1142578125 126.2197265625 -143.55 127.7 -145.979296875 129.1205078125 -146 130.1 -145.971875 132.1404296875 -144.15 135.05 -142.278125 138.016796875 -142.3 139.45 -142.2845703125 140.866015625 -143.3 142.4 -144.3029296875 143.9875 -144.3 147.45 -144.302734375 153.82109375 -141.4 158.1 -141.00078125 158.7443359375 -140.85 163.25 -140.7232421875 166.6791015625 -138.3 166.65 -136.8767578125 166.67421875 -135.95 165.5 -134.97421875 164.32578125 -133.8 164.3 -132.4515625 164.333984375 -131.55 167 -131.55390625 168.529296875 -132.7 169.45 -133.84921875 170.4212890625 -133.85 171.2 -133.8455078125 173.0984375 -132.5 174.55
	L -132.5 176.45
	Q -132.5060546875 176.792578125 -133.35 176.8 -133.7376953125 176.79765625 -135.1 176.1
	L -137.75 176.1
	Q -138.0896484375 180.3107421875 -137.2 181.2 -136.24921875 182.091796875 -133.2 182.4 -132.844921875 182.98515625 -132.85 184.75 -132.847265625 186.392578125 -134.8 187.65 -136.752734375 188.96015625 -136.75 189.55 -136.7498046875 191.0283203125 -133.9 196.2 -131.1662109375 201.1458984375 -129.55 203.05 -127.4796875 205.45390625 -126.75 210.85 -126.418359375 213.8318359375 -126 218.8
	L -124.35 219
	Q -123.9056640625 219.3646484375 -120.5 221.3 -117.9796875 222.7740234375 -116.8 224 -116.3529296875 224.448046875 -114.9 227.05 -113.281640625 229.5291015625 -111.8 229.5 -110.9375 229.53515625 -110.1 228.85 -108.31796875 228.873046875 -108.1 232 -107.8705078125 235.0740234375 -106.3 235.05 -105.3552734375 235.0748046875 -105.05 234.1 -98.484375 243.680859375 -98.45 243.85 -95.410546875 249.2669921875 -95.55 255.05 -94.8494140625 255.067578125 -93 254.7 -87.1888671875 254.732421875 -79 255.05 -77.6916015625 255.067578125 -73 255.65 -69.9125 256.0919921875 -67.95 256.05 -69.5029296875 253.485546875 -69.45 252.5 -69.5603515625 251.5787109375 -64.95 244.5 -61.0306640625 238.5265625 -60.9 238.55 -60.9224609375 237.7935546875 -61.7 236.95 -63.1166015625 235.493359375 -63.15 232.15 -63.116015625 232.090625 -63.1 232 -62.971484375 230.815625 -62.9 229.9
	L -108.5 161.7
	Q -108.646875 161.505078125 -108.7 161.25 -108.738671875 161.035546875 -108.7 160.8
	L -98.2 121.55
	Q -117.45234375 116.5857421875 -137.4 110.9 Z"/>
	</g>
	
	<g id="States_TX_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 74.75 -0.05
	L 44.5 -0.05 39.95 60.95
	Q 39.9259765625 61.2765625 39.75 61.5 39.5638671875 61.773828125 39.25 61.9 39.000390625 62.0298828125 38.7 62
	L 0 57.9
	Q 4.8384765625 64.0841796875 6.7 67.1 10.500390625 73.5185546875 11.65 74.35 12.0126953125 74.6271484375 15.2 74.6 16.593359375 74.6298828125 18.8 80.7 20.99609375 86.6984375 21.1 90.3 21.1560546875 91.8388671875 23 92.85 24.1265625 93.4603515625 26.65 94.35 27.6501953125 94.7951171875 30.55 97.45 33.0609375 99.876171875 34.15 99.85 39.7685546875 99.874609375 39.75 96.05 38.7720703125 92.6671875 38.75 92.5 38.7693359375 91.4984375 42.65 90.05 46.2474609375 88.7044921875 47.25 88.7 47.9830078125 88.7095703125 49.25 89.7 50.503515625 90.675 51.9 90.65 52.734765625 90.6697265625 56.45 90.05 58.2630859375 90.0515625 60.25 92.4 61.444140625 93.7404296875 63.65 96.9 66.8154296875 100.8921875 69.9 108.1 72.6263671875 114.5240234375 75.8 117.85 78.7072265625 120.9509765625 79.1 128.05 81.0580078125 130.669921875 81.65 134.55 82.1271484375 137.2072265625 84.2 138.25 85.317578125 138.8896484375 88 140.15 89.948046875 141.7978515625 95.95 143.7 101.4591796875 145.4814453125 103.2 145.45 104.6412109375 145.480078125 105.3 145.15 105.1939453125 143.531640625 103.3 142.95 101.4001953125 142.467578125 101.4 141.6 102.402734375 139.9515625 102.4 138.7 102.409375 136.994140625 100.55 135.35 98.728125 133.75078125 98.7 133.3 98.7169921875 132.8544921875 100.05 131.85 101.3955078125 130.894140625 101.4 130.05 101.4064453125 128.494921875 99.6 128.2 97.778125 127.996875 97.75 126.85 97.77578125 124.75078125 99.9 124.75 100.33984375 124.7470703125 103.35 125.75 105.302734375 125.7541015625 105.3 123.3 105.302734375 121.9638671875 103.35 121.05 101.453125 120.180859375 101.4 118.2 103.131640625 116.9302734375 105.9 117.2 105.7052734375 116.480078125 106.1 115.4 106.5390625 114.3037109375 107.4 114.3 107.9310546875 114.3021484375 109.25 114.95 109.09453125 113.8787109375 110.5 113.15 111.962109375 112.4234375 112.85 112.95 112.4572265625 110.3234375 112.4 109.15 112.4052734375 107.0912109375 113.95 107.1 115.984375 108.3771484375 116.15 108.4 116.8712890625 107.1455078125 118.35 106.4 119.8322265625 107.3162109375 119.7 109.3
	L 120.05 109.3
	Q 121.8392578125 105.6431640625 127.85 101.85 130.842578125 100.004296875 133.45 98.55 133.4712890625 97.881640625 132.35 96.35 131.2287109375 94.9205078125 131.2 94 133.2462890625 93.3521484375 135.1 93.35 136.665234375 93.3443359375 137.2 95.35 137.728515625 96.8587890625 137.45 98.2 139.0142578125 97.8435546875 147.1 92.4 147.063671875 92.3177734375 147 92.2 146.847265625 91.7740234375 147 91.35 147.2015625 90.923828125 147.6 90.75 147.767578125 90.4810546875 147.75 89.05 147.0986328125 83.643359375 147.1 82.8 146.964453125 81.9595703125 148.8 79.6
	L 148.85 79.55
	Q 150.0443359375 78.017578125 150.05 76.4 150.0771484375 73.49140625 148.65 71.35 145.58828125 67.4173828125 142.5 62.65 142.440625 62.553515625 142.4 62.45 142.337890625 62.4064453125 142.25 62.35 141.961328125 62.0177734375 141.95 61.55
	L 141.95 43.05
	Q 138.912890625 40.2919921875 135.65 37.6 126.9802734375 38.035546875 123.5 38 123.4265625 38.034765625 123.3 38 118.2025390625 37.03828125 115.45 37 114.31953125 37.0271484375 113.35 37.45
	L 113.3 37.45
	Q 111.8353515625 38.0544921875 110.95 38 109.2498046875 38.0646484375 106.35 36.7
	L 106.4 36.7
	Q 104.16484375 35.6513671875 101.1 35.8 97.980078125 35.9876953125 95.75 33.95
	L 95.7 33.95
	Q 94.1142578125 32.5203125 92.85 32.45
	L 86.95 32.45
	Q 86.680078125 32.4544921875 86.4 32.3 86.1525390625 32.1298828125 86 31.85 84.532421875 29.1173828125 83.6 28.8 80.824609375 29.4966796875 79.95 29.45 77.41953125 29.4880859375 77.05 29.15 77.0630859375 29.1490234375 77.05 29.1 76.5138671875 28.941015625 74.8 24.95 74.7439453125 24.74453125 74.75 24.5
	L 74.75 -0.05 Z"/>
	</g>
	
	<g id="States_GE_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 294.8 247.3
	Q 293.74609375 245.7232421875 292 245.35
	L 292 245.35
	Q 288.49765625 244.7740234375 287.55 243.4 287.5251953125 243.3857421875 287.5 243.35 286.9265625 242.6326171875 286.2 239.7
	L 275.95 240.7 275.9 240.7 275.7 240.7
	Q 275.534765625 240.7560546875 275.35 240.75
	L 262.9 241.9 273.65 274.15
	Q 273.7328125 274.3328125 273.7 274.5 273.4193359375 287.134375 275.6 293.3
	L 275.6 293.35 275.6 293.4 275.65 293.45 275.65 293.45 275.65 293.5
	Q 276.489453125 295.6720703125 277.65 296.95
	L 306.05 296.95
	Q 306.3095703125 296.950390625 306.5 297.05 306.7423828125 297.1482421875 306.9 297.3
	L 307.45 297.95 309.05 297.95
	Q 309.433203125 297.259375 309.35 296.05 309.090234375 293.6396484375 309.1 292.75 309.091015625 292.4822265625 309.2 292.2 309.3732421875 291.973828125 309.6 291.8 311.6849609375 290.5021484375 315.35 290.85
	L 315.4 290.85
	Q 315.816796875 288.06015625 316.95 283.25 318.5888671875 277.1296875 318.75 276.1 319.04296875 274.8986328125 319.9 273.7 315.4013671875 272.700390625 313.4 267.35 313.3869140625 267.3115234375 313.35 267.25 312.52578125 264.458203125 312.05 263.35
	L 312.05 263.3
	Q 311.50078125 262.239453125 310.7 262.15 307.4994140625 262.1556640625 306.95 260.65
	L 306.95 260.6
	Q 306.01953125 258.6462890625 303.75 256.8 298.100390625 253.45546875 296.8 251.05 296.799609375 251.037890625 296.75 251 295.6109375 248.446484375 294.8 247.3
	L 294.8 247.3 Z"/>
	</g>
	
	<g id="States_FL_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 342.3 357.05
	Q 342.6697265625 356.2984375 343.35 355.05 344.01015625 353.9037109375 344 352.9 344.0076171875 343.6232421875 329.6 321.75 321.9400390625 310.2064453125 319.7 306.1 315.174609375 298.0775390625 315.15 293.55 315.175 293.305078125 315.15 293.05
	L 315.15 293.05
	Q 312.8271484375 292.850390625 311.35 293.45 311.415234375 294.3052734375 311.6 295.8 311.6009765625 295.8646484375 311.6 295.9 311.7376953125 298.595703125 310.45 299.85 310.2876953125 300.01328125 310.05 300.1 309.870703125 300.195703125 309.65 300.2
	L 306.95 300.2
	Q 306.7279296875 300.1994140625 306.5 300.1 306.282421875 300.0015625 306.1 299.8
	L 305.55 299.2 277.15 299.2
	Q 276.7419921875 299.190234375 276.4 298.85 274.931640625 297.49296875 273.85 295
	L 245.85 299.7
	Q 247.0650390625 300.389453125 247.75 302.1 248.418359375 303.605859375 248.95 305.95 250.8154296875 305.78046875 251.65 303.6 253.4931640625 303.6044921875 254.25 304.95 255.0625 306.2955078125 255.85 306.3 256.4599609375 306.2982421875 261.85 303.95 265.231640625 303.9466796875 270.6 308.5 271.709375 309.07890625 272.85 311.7 273.770703125 313.8240234375 276.15 313.8 276.67734375 313.83125 281.65 310.15 286.46015625 306.5671875 288.7 307.15 288.8599609375 307.354296875 289 307.5 291.703515625 310.2244140625 295.15 312.25 297.1830078125 313.4955078125 300.7 315.25 306.01640625 318.246484375 306 323.9 306.02265625 324.735546875 305.35 330.6 305.35234375 333.5533203125 306.95 334.75 307.308203125 334.55078125 308.2 333.6 309.0962890625 332.768359375 309.8 332.75 310.8271484375 332.7720703125 311.55 333.75 312.22265625 334.6154296875 312.2 335.4 312.228515625 335.9013671875 311.45 336.85 310.6587890625 337.7986328125 310.65 338.3 310.6466796875 341.3728515625 315.2 344.7 317.4720703125 346.402734375 319.75 348 319.765234375 349.3630859375 318.75 350.9 318.748828125 351.0951171875 323.05 355.4 323.3904296875 356.5154296875 323.65 358.5 324.1794921875 359.9234375 326 359.9 326.9197265625 359.9322265625 327.2 359.3 327.4822265625 358.6521484375 328.1 358.65 330.61015625 358.64140625 331.5 362.6 332.38671875 366.51796875 334 366.5 335.3984375 366.521875 337.3 365.6 337.5322265625 366.1140625 337.2 367.3 336.9181640625 368.54375 332.4 371.45 327.8734375 374.3451171875 326.95 375.35 333.6828125 373.005859375 339.05 371.5 341.0556640625 370.5408203125 341.05 365.95 341.0470703125 364.90078125 342.05 364.05 342.9998046875 363.2271484375 343 362.1 342.99765625 358.07890625 342.3 357.05 Z"/>
	</g>
	
	<g id="States_SC_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 341.7 245.65
	L 326.1 234.25
	Q 324.7271484375 234.4154296875 322.85 235.05
	L 322.85 235.05
	Q 320.446484375 235.84765625 319.15 235.8 317.7640625 235.8888671875 314.05 233.95
	L 314 233.95
	Q 311.07734375 232.3625 309.65 232.3 301.6814453125 232.3583984375 288.35 239.1 288.9302734375 241.4552734375 289.3 242.05
	L 289.3 242
	Q 290.0138671875 242.7591796875 292.4 243.15
	L 292.45 243.15
	Q 295.054296875 243.7056640625 296.65 246.05 297.519140625 247.25390625 298.75 249.95 299.9705078125 251.95703125 304.9 254.85 304.9888671875 254.920703125 305.05 254.95 307.83984375 257.228515625 308.95 259.65
	L 308.95 259.6
	Q 309.306640625 259.912890625 310.7 259.9 312.815625 259.825390625 314.05 262.4
	L 314.05 262.4
	Q 314.599609375 263.5712890625 315.5 266.6 317.158203125 270.927734375 320.85 271.6 321.248046875 271.6734375 321.5 271.95 322.4822265625 270.842578125 322.7 270.15 323.6154296875 268.020703125 325.4 267.4 327.9673828125 266.505078125 328.3 266.2 330.42265625 264.488671875 330.9 260.35 331.0994140625 258.7896484375 333.9 257.9 336.465234375 257.116796875 336.1 254.8 335.7921875 252.3681640625 339.65 247.9 340.7923828125 246.5697265625 341.7 245.65 Z"/>
	</g>
	
	<g id="States_NC_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 368.3 215.75
	L 368.3 213.15 366.3 213.15
	Q 365.5197265625 216.1056640625 364.6 216.05 363.6845703125 216.0099609375 362.8 214.5 361.9470703125 212.9740234375 361.6 212.7 359.0919921875 213.768359375 357.9 213.75 355.470703125 214.2181640625 355.45 212.65 355.4701171875 210.969140625 359.6 209.4 362.9267578125 208.1234375 363.55 206.8 363.620703125 206.6572265625 363.65 206.5 363.62265625 206.1046875 363.55 205.7 363.448046875 205.0529296875 363.35 204.5
	L 301.55 212.9
	Q 301.61328125 214.90390625 301.85 217.1 301.87890625 217.1646484375 301.85 217.2 301.9509765625 221.0984375 297.6 221.45 294.6419921875 221.7296875 293.65 222.15 292.715234375 222.6712890625 290.85 224.45 288.7978515625 226.52734375 288.05 227.1 288.0248046875 227.123828125 288 227.15 283.1701171875 230.533203125 280.95 232.25 277.975 234.5810546875 276.9 238.35
	L 286.75 237.4
	Q 286.92421875 237.333984375 287.05 237.25 287.0994140625 237.2607421875 287.1 237.25 301.2267578125 230.04453125 309.65 230.05 311.4583984375 230.0240234375 315.1 232
	L 315.05 232
	Q 318.072265625 233.5431640625 319.15 233.6 320.1974609375 233.578515625 322.15 232.9
	L 322.1 232.9
	Q 324.58359375 232.0869140625 326.3 231.95 326.737890625 231.9548828125 327.05 232.2
	L 343.2 243.95
	Q 343.36015625 244.0513671875 343.45 244.15 344.301953125 243.601171875 344.85 243.6 348.6990234375 243.601171875 349.45 241.2 350.93828125 236.7279296875 353.55 234.1 357.203515625 230.522265625 359.1 229.85 360.6646484375 229.3998046875 362.9 228.95 364.3513671875 228.4490234375 364.35 226.75 364.3484375 224.8744140625 362.95 224.65 360.2072265625 224.2109375 358.75 223.3
	L 358.75 219.65 362.1 219.65
	Q 363.9654296875 221.026953125 365.75 219.25 366.70234375 218.2388671875 368.3 215.75 Z"/>
	</g>
	
	<g id="States_VA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 339.45 172.85
	L 339.4 172.9
	Q 337.550390625 173.696875 336.8 173.65 336.5505859375 173.6451171875 336.3 173.5 332.646484375 171.713671875 332.25 171.6 329.9400390625 171.8025390625 328.1 176.2 327.0966796875 178.7400390625 326.5 181.55 326.4734375 181.650390625 326.4 181.75 325.638671875 183.5818359375 323.95 183.95 323.8740234375 183.96640625 323.8 183.95 322.3048828125 184.1400390625 321.5 184.25 319.45703125 184.70546875 318.95 188.65 318.03203125 195.7869140625 313.35 200.45
	L 313.35 200.45
	Q 312.3267578125 201.665625 309.4 201.8
	L 309.4 201.8
	Q 307.1033203125 201.8890625 306.5 202 301.7525390625 205.8541015625 300.25 205.7 300.044140625 205.719140625 299.8 205.6 298.108984375 204.906640625 296.75 204.5 296.0810546875 205.504296875 294.75 206.05 291.905078125 207.2658203125 291.7 207.35 290.845703125 208.2478515625 290.05 210.05
	L 290.05 210.1
	Q 289.72421875 210.827734375 289.25 212.35
	L 300.1 210.85
	Q 300.23046875 210.8296875 300.35 210.8
	L 362.95 202.35
	Q 362.2294921875 199.685546875 360.75 199.65 358.76328125 200.34765625 357.9 200.35 356.8087890625 200.355078125 356.45 200 357.587890625 198.794921875 356.05 197.9 354.228125 196.7763671875 354.2 196.1 354.225 195.5984375 355.15 194.65 356.1248046875 193.696875 356.1 192.8 356.1357421875 192.0212890625 353.8 191.05 351.508984375 190.18515625 351.9 188.6
	L 355.45 188.6
	Q 355.96953125 187.6197265625 353.95 186 351.7720703125 184.3728515625 351.55 183.95 351.2171875 183.2642578125 351 182.35 350.7642578125 182.4486328125 350.5 182.4 347.4232421875 182.108984375 346.4 181.5
	L 346.4 181.45
	Q 344.3052734375 180.3771484375 344.2 177.05 344.183203125 174.53125 343.75 173.85 343.0150390625 173.1287109375 340.1 172.55 339.805859375 172.71171875 339.45 172.85 Z"/>
	</g>
	
	<g id="States_MD_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 348.3 168.15
	Q 348.641796875 167.590234375 350.45 166.25 352.309375 164.96328125 352.85 164.55 354.63359375 164.7177734375 354.8 165.5 355.0234375 166.280859375 355.25 167.15 355.463671875 168.059375 354.2 173.3 354.22578125 175.4828125 356.35 176.3 359.5939453125 177.5505859375 360.1 178.05 360.55078125 178.503125 361.2 182.7 361.896484375 187.4431640625 363.35 190.15 364.0728515625 189.1791015625 366 183.8 367.977734375 178.4525390625 367.95 177.55 367.9826171875 176.8958984375 367.7 176.2 367.61171875 176.2880859375 367.45 176.3 364.02421875 177.18359375 362.4 177.15 359.5994140625 177.44609375 356.8 168.65
	L 356.8 168.6
	Q 354.9265625 161.8978515625 354 159.05
	L 319.55 166.25 319.55 171.85
	Q 329.67265625 165.707421875 334.3 165.75 336.298828125 165.7412109375 338.8 167.35
	L 338.8 167.35
	Q 341.2955078125 168.9541015625 341.75 170.45 341.805078125 170.5609375 341.8 170.65 344.7048828125 171.3591796875 345.45 172.4 346.4044921875 173.3234375 346.45 177 346.5111328125 178.8638671875 347.5 179.55 348.3009765625 179.9345703125 350.65 180.15 350.544140625 179.0474609375 350.55 177.7 351.22265625 175.4890625 351.2 174.65 351.227734375 174.54140625 348.3 168.15 Z"/>
	</g>
	
	<g id="States_ME_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 407.85 45.05
	Q 408.2408203125 42.5375 406.9 40.95 405.5556640625 39.458203125 403.15 39.45 401.7513671875 39.4568359375 400.8 41.45 399.8529296875 43.4806640625 398.85 43.45 396.5 43.4705078125 395.1 42.1 393.5880859375 46.0419921875 391.35 51.3 389.8986328125 55.156640625 389.9 58.15 389.9 59.070703125 391.8 62.4 391.8048828125 62.5333984375 389.55 67 389.40234375 68.9544921875 389.9 72.25 389.8958984375 74.5453125 386.85 74.55 386.3755859375 74.412109375 385.95 74.3 387.665234375 78.6177734375 388.9 83.9 389.7068359375 87.180859375 390.85 92.6 390.8755859375 92.6625 390.85 92.7 391.89609375 96.3453125 393.45 97.9
	L 393.45 97.95
	Q 394.6392578125 99.0318359375 396.45 99.4 396.92578125 99.530078125 397.15 99.9 398.448046875 99.0255859375 398.45 98.6 397.4470703125 96.108984375 397.45 95.3 397.449609375 92.477734375 401 89.55 402.1470703125 88.6845703125 403.3 86.9 404.383984375 85.608984375 406.2 86.05 406.6638671875 78.9025390625 407.55 77.15 410.9115234375 78.177734375 411.2 78.15
	L 411.5 77.85
	Q 411.855078125 76.1720703125 411.85 75.5 412.632421875 75.5021484375 413.75 76.15
	L 416.7 76.15
	Q 416.6142578125 73.53828125 419.8 72.05 422.9798828125 70.5734375 422.95 68.6 422.9771484375 66.273828125 421.75 65.35 421.1330078125 64.931640625 419.15 64.6 415.5453125 63.9806640625 416.05 59.45 413.2068359375 60.3998046875 412.35 60.4 411.0345703125 60.408203125 409.75 54.55 408.46484375 47.5650390625 407.85 45.05 Z"/>
	</g>
	
	<g id="States_NH_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 383.45 74
	Q 383.474609375 73.9359375 383.45 73.85 381.132421875 73.8744140625 381 75.55 380.9638671875 76.4955078125 381.35 78 381.357421875 78.2451171875 381.2 78.5 381.40625 78.6908203125 381.45 78.95 383.1603515625 85.3716796875 383.15 87.35 383.2298828125 89.3693359375 380.95 91.25
	L 380.95 91.25
	Q 379.5080078125 92.5013671875 379.5 94.85 379.512890625 97.5755859375 380.05 103 380.5068359375 106.8951171875 380.65 109.3 384.0166015625 108.5673828125 388.15 107.05 392.2775390625 105.59375 394.8 104.7 394.4224609375 103.6490234375 394.4 102.7 394.42578125 102.078515625 395.1 101.4 393.21171875 100.8009765625 391.9 99.55
	L 391.9 99.5
	Q 389.9408203125 97.6640625 388.7 93.2
	L 388.7 93.15
	Q 387.5298828125 87.7009765625 386.75 84.4 385.446484375 78.9857421875 383.65 74.6 383.46953125 74.3515625 383.45 74 Z"/>
	</g>
	
	<g id="States_MA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 397.45 109.4
	Q 397.4755859375 108.841015625 395.8 106.55 395.72265625 106.4259765625 395.65 106.3 395.5234375 106.3771484375 395.35 106.4 392.82109375 107.3181640625 388.65 108.8 383.4904296875 110.67890625 379.5 111.45 379.476171875 111.4509765625 379.4 111.45 376.5828125 112.01640625 374.35 112 374.1734375 112.028515625 374 111.95 373.8916015625 112.0205078125 372.3 112.25 371.6818359375 113.9404296875 371.65 115.15 371.6775390625 118.0353515625 372.45 121.5
	L 387.25 117.25 387.3 117.25 392.6 115.75
	Q 392.98515625 115.63359375 393.35 115.8 393.7236328125 115.975390625 393.9 116.35
	L 396.2 121.3
	Q 396.3521484375 121.5826171875 396.3 121.85 396.99375 122.026171875 397.9 122.4 398.482421875 122.4029296875 399.35 121.4 400.390234375 120.225 400.4 119.05 400.3884765625 113.9658203125 395.1 114.5
	L 395.1 112.15
	Q 395.633203125 111.6837890625 396.7 111 397.478515625 110.4080078125 397.45 109.4 Z"/>
	</g>
	
	<g id="States_NY_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 363.15 89.4
	Q 362.848828125 89.0927734375 362.85 88.6 362.85859375 87.4193359375 362.65 86.9 362.528515625 86.663671875 362.5 86.4
	L 362.5 84.3
	Q 356.5005859375 85.4806640625 348.55 86.7 348.3291015625 89.0193359375 343.75 95.2 339.0046875 101.3134765625 338.45 102.15 341.29375 102.3728515625 341.4 103.8 341.5197265625 104.66328125 341 106.65 341.025 108.241015625 341.95 109 341.3642578125 109.6705078125 340.75 109.85 340.6345703125 109.8818359375 340.5 109.9 339.2302734375 110.2482421875 334.7 113.05 329.837890625 116.1240234375 329.7 116.1
	L 324 115.2
	Q 320.6205078125 115.225 316.8 116.15 311.626953125 117.4 311.6 119.55 311.623046875 120.8078125 314.75 120.7 317.8240234375 120.5876953125 317.8 122.35 317.830859375 124.5205078125 309.4 131.75
	L 313.2 135.6 353.25 126.25
	Q 353.537890625 126.187890625 353.8 126.25 354.05234375 126.320703125 354.25 126.5
	L 363.4 134.3
	Q 363.6201171875 134.4826171875 363.7 134.7 365.3798828125 135.331640625 368.7 136.2 368.759765625 136.2240234375 368.8 136.2 373.5689453125 137.789453125 373.3 139.85 373.3072265625 140.8296875 373.05 141.6 388.900390625 136.95 388.9 134.15 388.905078125 133.4822265625 388.55 133.15
	L 375.35 137.65
	Q 374.479296875 137.2359375 373 136.35 371.178125 135.2865234375 371.15 134 371.1794921875 133.0328125 373.45 132.2
	L 373.45 132.15
	Q 372.83125 129.902734375 371.8 126.8 371.2662109375 125.131640625 370.85 123.55
	L 370.8 123.5
	Q 369.7158203125 119.0814453125 369.7 115.5 369.7072265625 113.894140625 370.55 111.6 368.0802734375 106.5109375 366.85 100.35 366.5484375 98.9580078125 366.55 94.2 366.5548828125 91.4365234375 365.9 89.75
	L 363.95 89.75
	Q 363.50703125 89.7509765625 363.15 89.4 Z"/>
	</g>
	
	<g id="States_CT_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 390.15 127.35
	L 387.2 120.05 373.3 124
	Q 373.589453125 125.0412109375 373.9 126.1 374.972265625 129.2478515625 375.6 131.55
	L 375.6 131.55
	Q 376.1921875 131.437890625 376.8 131.3 383.358984375 130.020703125 384.25 129.3 386.251171875 127.66875 390.15 127.35 Z"/>
	</g>
	
	<g id="States_NJ_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 370.85 142.65
	Q 370.448046875 142.4455078125 370.3 142 370.1865234375 141.5556640625 370.4 141.15 370.7671875 140.4693359375 370.75 139.5 370.5529296875 138.90703125 367.85 138 367.8380859375 138.0125 367.8 138 364.676953125 137.173828125 362.95 136.55
	L 359.75 145.55 365.7 150
	Q 365.9412109375 150.2126953125 366.05 150.5 366.1703125 150.77890625 366.1 151.05 366.0759765625 151.3822265625 365.85 151.6
	L 360.95 157.45
	Q 360.7033203125 157.790234375 360.3 157.85
	L 360.25 157.9
	Q 360.7126953125 160.2677734375 361.05 163.2 361.4890625 164.93125 362.85 164.85
	L 362.9 164.85
	Q 365.41796875 164.590234375 367.35 166.45 367.594140625 166.696484375 367.85 167 368.4734375 165.888671875 368.9 164.4 369.882421875 161.523828125 370.2 161 373.1806640625 156.7736328125 373.15 154.9
	L 373.15 146.15
	Q 371.666796875 145.5669921875 370.85 145.6
	L 370.85 142.7 370.85 142.65 Z"/>
	</g>
	
	<g id="States_PA_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 361.35 135.5
	L 353.2 128.55 313.1 137.9
	Q 312.8240234375 137.998046875 312.55 137.9 312.2642578125 137.8501953125 312.05 137.65
	L 307.7 133.3
	Q 307.687890625 133.2748046875 307.65 133.25 305.9994140625 134.6296875 304.05 136.15 303.5302734375 136.8099609375 302.85 137.45 303.1111328125 137.682421875 303.15 138 304.565625 146.1748046875 305.65 150.85
	L 305.65 150.9
	Q 306.4080078125 154.2150390625 306.95 155.7 307.6669921875 157.5423828125 308.55 162.8 308.5890625 162.8623046875 308.6 162.9 309.3908203125 166.056640625 311.1 166.1
	L 318.4 164.6 318.45 164.6
	Q 318.5119140625 164.5978515625 318.55 164.6
	L 354.6 157.05
	Q 354.734375 157.0416015625 354.85 157
	L 359 156.25 359 156.25 359.8 156.1 363.7 151.45 358.05 147.2
	Q 357.7572265625 147.0025390625 357.65 146.65 357.547265625 146.3107421875 357.65 145.95
	L 361.35 135.5 Z"/>
	</g>
	
	<g id="States_OH_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 291 146.1
	Q 290.79609375 146.1099609375 290.55 146.1 288.08203125 146.1291015625 283.9 147.95 279.3884765625 149.915234375 277.9 149.9 275.97578125 149.92265625 274.25 148.3 273.864453125 147.9423828125 273.55 147.55 273.2775390625 147.73046875 272.9 147.7
	L 269.75 147.7
	Q 265.4927734375 148.5232421875 261.95 149.05
	L 264.95 182.9
	Q 266.7345703125 181.3955078125 267.1 181.55 269.21796875 181.4798828125 274.55 184.35 279.1814453125 186.773046875 280.25 186.85 280.69375 186.745703125 281.55 185.95
	L 281.55 185.95
	Q 283.2541015625 184.4619140625 284.95 184.5 286.8544921875 184.3982421875 288.6 186.7
	L 288.6 186.75
	Q 289.4294921875 187.86796875 289.6 188.05 291.3767578125 187.81953125 291.9 184.2
	L 291.9 184.2
	Q 292.92734375 177.9734375 295.15 176.8
	L 295.15 176.75
	Q 301.501171875 172.9994140625 302.15 172.2 303.178515625 170.7166015625 303.2 165.05 302.856640625 161.850390625 303.45 151.15 302.39765625 146.687109375 301.05 139.05 299.158203125 140.636328125 296.6 142.2 292.5271484375 144.683203125 291 146.1 Z"/>
	</g>
	
	<g id="States_MI_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 257.55 83.9
	Q 256.7580078125 83.0279296875 254.6 83 251.834765625 83.5322265625 251 83.4 249.766796875 83.25859375 248.9 80.05 245.2419921875 81.69765625 243.85 81.7 241.5611328125 81.080078125 240.7 81.05 239.2125 81.078125 237.7 83.85 236.1380859375 86.60625 233.85 86.6 229.5509765625 86.6115234375 227.35 83.55 225.2455078125 80.410546875 222.7 80.4 222.1130859375 80.405859375 220.75 81.25 219.491796875 82.028515625 218.6 82 218.205078125 82.0298828125 217.45 80.75 216.80234375 79.5146484375 216.8 78.95 216.803125 77.558203125 218.65 76.7 220.4439453125 75.8337890625 220.45 73.8 220.4490234375 72.20234375 219.25 72.2 210.9453125 81.0287109375 209.6 81.7 208.9345703125 82.027734375 206.4 82.3 204.630859375 82.532421875 203.65 84.05 203.001953125 85.166015625 201.1 85.5 200.8380859375 85.5234375 200.6 85.55 202.2775390625 88.1568359375 206.6 89.3 209.9259765625 90.2609375 216.35 91.45 216.424609375 91.4947265625 216.5 91.5 221.678515625 93.30703125 224.35 96.45
	L 224.35 96.5
	Q 226.0416015625 98.3703125 227.3 101.65 227.3990234375 101.476953125 227.45 101.3 230.5484375 94.547265625 232.2 92.6 234.7423828125 94.4998046875 235 94.5 236.025 94.4990234375 237 92.35 238.0396484375 90.2509765625 238.75 90.25 238.8875 90.2470703125 240.9 91.25 242.232421875 91.252734375 243.9 89.3 245.5822265625 87.2818359375 246.65 87.25 248.4388671875 87.290234375 250.4 89 252.3533203125 90.7435546875 252.45 91.85 252.5560546875 92.9970703125 250.95 96.7 247.3201171875 99.6029296875 247.3 100.4 247.325 101.6361328125 248.25 104.3
	L 247.3 106
	Q 245.5294921875 103.6029296875 245.05 103.05 241.108984375 107.0689453125 240.75 109.3 240.54921875 110.80390625 241.05 115.3 241.0498046875 118.571484375 240.1 124.5 240.0994140625 127.2322265625 242.7 129.35 245.2974609375 131.4765625 245.3 135 245.29609375 136.6208984375 244.15 141.65 243.1421875 146.151953125 242.15 148.45 245.8544921875 147.507421875 249.35 147.8
	L 249.35 147.8
	Q 253.16484375 148.08515625 260.45 147.05 260.5453125 147.0146484375 260.65 147 260.70390625 146.9962890625 260.75 147 264.6111328125 146.4173828125 269.4 145.5 269.4998046875 145.5029296875 269.6 145.5
	L 272.45 145.5
	Q 272.23125 144.6642578125 272.2 143.7 272.233984375 141.48671875 273.95 139 275.87265625 136.2265625 276.15 134.8 276.7669921875 131.753125 278.7 130.5 280.453515625 129.466015625 280.45 127.6 280.453515625 125.6138671875 279.65 124.05 278.2779296875 121.145703125 277.75 119.75 277.26328125 115.8310546875 276.95 114.65 276.5873046875 112.8685546875 273.35 112.85 270.5544921875 112.87890625 269.1 116.85 267.6005859375 120.75546875 265.35 120.75 264.0294921875 120.746875 264 118.9 264.028125 115.4984375 266.8 112.6 269.609375 109.7529296875 269.6 107.8 269.6005859375 106.175 268.85 105.5 267.0890625 103.82578125 266.7 103.3 268.2697265625 101.8087890625 268.25 101.05 268.2751953125 99.23671875 262.8 97.15 256.951953125 94.9412109375 255.95 94.25 255.81015625 91.36328125 254.5 90.55
	L 254.5 88.6
	Q 256.3705078125 88.630078125 259.7 88.3 257.9947265625 84.4919921875 257.55 83.9 Z"/>
	</g>
	
	<g id="States_IL_0_Layer0_0_FILL">
	<path fill="#AEAEAE" stroke="none" d="
	M 226.4 141.8
	L 203.1 143.55
	Q 203.3646484375 143.95703125 203.55 144.35
	L 203.55 144.4
	Q 204.0248046875 145.36796875 205.35 148.45 205.4716796875 148.6779296875 205.45 148.9
	L 205.45 154.5
	Q 205.47109375 154.9095703125 205.2 155.2 204.9306640625 155.5365234375 204.5 155.6 202.5822265625 155.91640625 200.85 156.6 198.098046875 157.65546875 197.9 159.05 198.0318359375 159.9787109375 199.65 161.95 199.9302734375 162.2556640625 199.9 162.65 200.089453125 164.81875 196.05 167.85 193.61171875 169.7046875 193.1 170.85 193.0865234375 170.8896484375 193.05 170.9 193.068359375 170.963671875 193.05 171
	L 193.05 171
	Q 193.0728515625 175.8859375 194.25 180.45 198.5544921875 183.8466796875 200.75 187.8
	L 200.75 187.85
	Q 201.4548828125 188.7525390625 205 188.75 206.2427734375 188.690234375 208 189.95 210.228515625 191.5150390625 210.15 193.5 210.1580078125 196.9033203125 207.9 197.95
	L 207.85 197.95
	Q 206.8720703125 198.5158203125 206.8 199.35 206.9548828125 201.0650390625 210.05 203.2 214.601953125 206.294140625 214.95 207.5 214.9626953125 207.528125 214.95 207.55 217.041796875 213.4830078125 218.9 216.1 221.1029296875 212.736328125 221.95 213 223.3890625 212.9599609375 225 214.25 225.9609375 214.9712890625 226.8 215 226.95078125 214.9642578125 226.95 214.75
	L 226.95 214.7
	Q 226.8607421875 211.937890625 227.25 210.85 227.3990234375 210.520703125 227.7 210.3 228.0599609375 210.111328125 228.45 210.15 228.8412109375 210.195703125 229.1 210.45 229.4216796875 210.773828125 229.55 210.85 229.8015625 210.647265625 230.05 209.9 230.7240234375 208.1298828125 230.75 205.55
	L 230.75 205.5
	Q 230.775 205.351953125 230.75 205.2 230.0931640625 200.883984375 230.1 200 230.062109375 197.9220703125 232.05 195.75
	L 232.1 195.75
	Q 233.4072265625 194.2154296875 233.4 192 233.394140625 190.7619140625 232.95 189.4 232.3947265625 187.775390625 232.4 185.45 232.3919921875 185.3626953125 232.4 185.25 233.3908203125 179.4619140625 233.4 175.95 233.4041015625 172.487890625 232.75 167.1
	L 232.75 167.05
	Q 231.8986328125 159.8666015625 231.95 151.7 231.9544921875 151.4857421875 232 151.3 228.3126953125 149.415625 226.65 141.75 226.528515625 141.81015625 226.4 141.8 Z"/>
	</g>
	</defs>
	
	<g #map id="map_mc" transform="matrix( 1.0931243896484375, 0, 0, 1.0931243896484375, 504.6,93.5) ">
	<g transform="matrix( 1, 0, 0, 1, 0,0) ">
	<use xlink:href="#map_0_Layer1_0_FILL"/>
	</g>
	
	<g id="WA_mc" transform="matrix( 1, 0, 0, 1, -119.15,24.05) ">
	<g transform="matrix( 1, 0, 0, 1, 119.15,-24.05) ">
	<use xlink:href="#States_WA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="OR_mc" transform="matrix( 1, 0, 0, 1, -137.55,54.8) ">
	<g transform="matrix( 1, 0, 0, 1, 137.55,-54.8) ">
	<use xlink:href="#States_OR_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="AZ_mc" transform="matrix( 1, 0, 0, 1, -69.85,202.85) ">
	<g transform="matrix( 1, 0, 0, 1, 69.85,-202.85) ">
	<use xlink:href="#States_AZ_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NM_mc" transform="matrix( 1, 0, 0, 1, -6.2,211.65) ">
	<g transform="matrix( 1, 0, 0, 1, 6.2,-211.65) ">
	<use xlink:href="#States_NM_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="LA_mc" transform="matrix( 1, 0, 0, 1, 168.2,275.65) ">
	<g transform="matrix( 1, 0, 0, 1, -168.2,-275.65) ">
	<use xlink:href="#States_LA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MS_mc" transform="matrix( 1, 0, 0, 1, 197.95,245.1) ">
	<g transform="matrix( 1, 0, 0, 1, -197.95,-245.1) ">
	<use xlink:href="#States_MS_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="AL_mc" transform="matrix( 1, 0, 0, 1, 234,242.5) ">
	<g transform="matrix( 1, 0, 0, 1, -234,-242.5) ">
	<use xlink:href="#States_AL_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="TN_mc" transform="matrix( 1, 0, 0, 1, 211.5,213.6) ">
	<g transform="matrix( 1, 0, 0, 1, -211.5,-213.6) ">
	<use xlink:href="#States_TN_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="DE_mc" transform="matrix( 1, 0, 0, 1, 356.5,158.7) ">
	<g transform="matrix( 1, 0, 0, 1, -356.5,-158.7) ">
	<use xlink:href="#States_DE_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="VT_mc" transform="matrix( 1, 0, 0, 1, 364.75,79.85) ">
	<g transform="matrix( 1, 0, 0, 1, -364.75,-79.85) ">
	<use xlink:href="#States_VT_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="RI_mc" transform="matrix( 1, 0, 0, 1, 389.4,118.55) ">
	<g transform="matrix( 1, 0, 0, 1, -389.4,-118.55) ">
	<use xlink:href="#States_RI_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="KY_mc" transform="matrix( 1, 0, 0, 1, 218.7,183.8) ">
	<g transform="matrix( 1, 0, 0, 1, -218.7,-183.8) ">
	<use xlink:href="#States_KY_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="WV_mc" transform="matrix( 1, 0, 0, 1, 290.65,158.2) ">
	<g transform="matrix( 1, 0, 0, 1, -290.65,-158.2) ">
	<use xlink:href="#States_WV_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="WI_mc" transform="matrix( 1, 0, 0, 1, 176,83.4) ">
	<g transform="matrix( 1, 0, 0, 1, -176,-83.4) ">
	<use xlink:href="#States_WI_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="IN_mc" transform="matrix( 1, 0, 0, 1, 232.35,149.4) ">
	<g transform="matrix( 1, 0, 0, 1, -232.35,-149.4) ">
	<use xlink:href="#States_IN_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="ID_mc" transform="matrix( 1, 0, 0, 1, -66,35.6) ">
	<g transform="matrix( 1, 0, 0, 1, 66,-35.6) ">
	<use xlink:href="#States_ID_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MT_mc" transform="matrix( 1, 0, 0, 1, -39.7,37.25) ">
	<g transform="matrix( 1, 0, 0, 1, 39.7,-37.25) ">
	<use xlink:href="#States_MT_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="ND_mc" transform="matrix( 1, 0, 0, 1, 68.25,53.85) ">
	<g transform="matrix( 1, 0, 0, 1, -68.25,-53.85) ">
	<use xlink:href="#States_ND_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="SD_mc" transform="matrix( 1, 0, 0, 1, 64.85,95) ">
	<g transform="matrix( 1, 0, 0, 1, -64.85,-95) ">
	<use xlink:href="#States_SD_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="WY_mc" transform="matrix( 1, 0, 0, 1, -8.9,99.45) ">
	<g transform="matrix( 1, 0, 0, 1, 0,0) ">
	<use xlink:href="#States_WY_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NE_mc" transform="matrix( 1, 0, 0, 1, 62.6,135.3) ">
	<g transform="matrix( 1, 0, 0, 1, -62.6,-135.3) ">
	<use xlink:href="#States_NE_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="KS_mc" transform="matrix( 1, 0, 0, 1, 79.8,178.6) ">
	<g transform="matrix( 1, 0, 0, 1, -79.8,-178.6) ">
	<use xlink:href="#States_KS_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NV_mc" transform="matrix( 1, 0, 0, 1, -106.4,122.1) ">
	<g transform="matrix( 1, 0, 0, 1, 106.4,-122.1) ">
	<use xlink:href="#States_NV_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="UT_mc" transform="matrix( 1, 0, 0, 1, -49.3,135.7) ">
	<g transform="matrix( 1, 0, 0, 1, 49.3,-135.7) ">
	<use xlink:href="#States_UT_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="CO_mc" transform="matrix( 1, 0, 0, 1, 4.5,156.45) ">
	<g transform="matrix( 1, 0, 0, 1, -4.5,-156.45) ">
	<use xlink:href="#States_CO_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="OK_mc" transform="matrix( 1, 0, 0, 1, 68.65,218.9) ">
	<g transform="matrix( 1, 0, 0, 1, -68.65,-218.9) ">
	<use xlink:href="#States_OK_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="AR_mc" transform="matrix( 1, 0, 0, 1, 161.2,224.8) ">
	<g transform="matrix( 1, 0, 0, 1, -161.2,-224.8) ">
	<use xlink:href="#States_AR_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MN_mc" transform="matrix( 1, 0, 0, 1, 134.05,56.4) ">
	<g transform="matrix( 1, 0, 0, 1, -134.05,-56.4) ">
	<use xlink:href="#States_MN_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="IA_mc" transform="matrix( 1, 0, 0, 1, 141.35,129.75) ">
	<g transform="matrix( 1, 0, 0, 1, -141.35,-129.75) ">
	<use xlink:href="#States_IA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MO_mc" transform="matrix( 1, 0, 0, 1, 152.5,171.6) ">
	<g transform="matrix( 1, 0, 0, 1, -152.5,-171.6) ">
	<use xlink:href="#States_MO_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="CA_mc" transform="matrix( 1, 0, 0, 1, -145.95,110.9) ">
	<g transform="matrix( 1, 0, 0, 1, 145.95,-110.9) ">
	<use xlink:href="#States_CA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="TX_mc" transform="matrix( 1, 0, 0, 1, 24,226.7) ">
	<g transform="matrix( 1, 0, 0, 1, 0,0) ">
	<use xlink:href="#States_TX_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="GA_mc" transform="matrix( 1, 0, 0, 1, 262.9,239.75) ">
	<g transform="matrix( 1, 0, 0, 1, -262.9,-239.75) ">
	<use xlink:href="#States_GE_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="FL_mc" transform="matrix( 1, 0, 0, 1, 245.85,293) ">
	<g transform="matrix( 1, 0, 0, 1, -245.85,-293) ">
	<use xlink:href="#States_FL_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="SC_mc" transform="matrix( 1, 0, 0, 1, 288.35,232.35) ">
	<g transform="matrix( 1, 0, 0, 1, -288.35,-232.35) ">
	<use xlink:href="#States_SC_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NC_mc" transform="matrix( 1, 0, 0, 1, 276.95,204.55) ">
	<g transform="matrix( 1, 0, 0, 1, -276.95,-204.55) ">
	<use xlink:href="#States_NC_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="VA_mc" transform="matrix( 1, 0, 0, 1, 289.25,171.65) ">
	<g transform="matrix( 1, 0, 0, 1, -289.25,-171.65) ">
	<use xlink:href="#States_VA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MD_mc" transform="matrix( 1, 0, 0, 1, 319.55,159.1) ">
	<g transform="matrix( 1, 0, 0, 1, -319.55,-159.1) ">
	<use xlink:href="#States_MD_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="ME_mc" transform="matrix( 1, 0, 0, 1, 385.95,39.45) ">
	<g transform="matrix( 1, 0, 0, 1, -385.95,-39.45) ">
	<use xlink:href="#States_ME_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NH_mc" transform="matrix( 1, 0, 0, 1, 379.5,73.9) ">
	<g transform="matrix( 1, 0, 0, 1, -379.5,-73.9) ">
	<use xlink:href="#States_NH_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MA_mc" transform="matrix( 1, 0, 0, 1, 371.7,106.3) ">
	<g transform="matrix( 1, 0, 0, 1, -371.7,-106.3) ">
	<use xlink:href="#States_MA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NY_mc" transform="matrix( 1, 0, 0, 1, 309.4,84.35) ">
	<g transform="matrix( 1, 0, 0, 1, -309.4,-84.35) ">
	<use xlink:href="#States_NY_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="CT_mc" transform="matrix( 1, 0, 0, 1, 373.3,120.05) ">
	<g transform="matrix( 1, 0, 0, 1, -373.3,-120.05) ">
	<use xlink:href="#States_CT_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="NJ_mc" transform="matrix( 1, 0, 0, 1, 359.75,136.55) ">
	<g transform="matrix( 1, 0, 0, 1, -359.75,-136.55) ">
	<use xlink:href="#States_NJ_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="PA_mc" transform="matrix( 1, 0, 0, 1, 302.9,128.55) ">
	<g transform="matrix( 1, 0, 0, 1, -302.9,-128.55) ">
	<use xlink:href="#States_PA_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="OH_mc" transform="matrix( 1, 0, 0, 1, 262,139.1) ">
	<g transform="matrix( 1, 0, 0, 1, -262,-139.1) ">
	<use xlink:href="#States_OH_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="MI_mc" transform="matrix( 1, 0, 0, 1, 200.6,72.2) ">
	<g transform="matrix( 1, 0, 0, 1, -200.6,-72.2) ">
	<use xlink:href="#States_MI_0_Layer0_0_FILL"/>
	</g>
	</g>
	
	<g id="IL_mc" transform="matrix( 1, 0, 0, 1, 193.05,141.8) ">
	<g transform="matrix( 1, 0, 0, 1, -193.05,-141.8) ">
	<use xlink:href="#States_IL_0_Layer0_0_FILL"/>
	</g>
	</g>
	</g>
	</svg>
	