@import "../../../../styles/theme.scss";

.settings {
	padding: 0.5rem 0;
}

.settings-title {
	user-select: none;
	font: $settings-item-title-font;
	padding: 0.25rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
}

.location-reset-button {
	font: $product-location-reset-font;
	color: $product-location-reset-color;
	line-height: 2rem;
	align-self: flex-end;
	cursor: pointer;
}

.settings-description {
	font: $settings-item-description-font;
}

.new-item-description {
	padding-bottom: 0.5rem;
}

.location-items {
	padding: 1rem 0;
}

.location-item {
	display: flex;
	flex-direction: row;
	padding: 0.25rem;
	justify-content: space-between;
}

.location-path {
	font: $product-location-item-font;
	align-self: flex-start;
}

.location-remove-path-icon {
	font: $product-location-remove-item-font;
	color: $product-location-remove-item-color;
	line-height: 1rem;
	align-self: flex-end;
	cursor: pointer;
}

.location-add-new-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between
}

.location-add-buttons {
	display: flex;
	flex-direction: row;
}

.location-add-new-button {
	font: $product-location-item-font;
	color: #004400;
	cursor: pointer;
	justify-self: right;
	padding-right: 0.25rem;
}

.location-settings-type-title {
	font-size: 1.25rem;
}

.error-text {
	font: $settings-item-description-font;
	color: $error-color;
}

.log-link {
	font-weight: 700;
	cursor: pointer;
	text-decoration: underline;
}