<div class="settings">
	<div class="settings-title" (click)="toggleSettings()">
		<div>Product Locations</div>
	</div>
	<div *ngIf="show$ | async">
		<div class="settings-description">
			<div>Products will be searched for in the following locations. Add a new location by selecting either the individual product folder or a folder containing muliple products.</div>
			<div>All subfolders in the locations will be searched so try to limit the number of non-product folders to improve performance.</div>
		</div>
		<div>
			<div class="location-items">
				<div class="location-settings-type-title" *ngIf="settingsService.hasGlobalSettings">User Settings</div>
				<div *ngFor="let location of settingsService.userProductLocations$ | async">
					<div class="location-item">
						<div class="location-path">
							{{location | pathTruncate:40}}
						</div>
						<div class="location-remove-path-icon" (click)="userRemoveLocation(location)">&#215;</div>
					</div>
				</div>
				<div class="location-add-new-item">
					<div class="location-add-new-button" (click)="userAddNewLocation()">&#x2b; Add Custom Location</div>
					<div class="location-add-new-button" (click)="userAddDefaultLocation()">&#x2b; Add Default Location</div>
				</div>
			</div>
			<div class="location-items" *ngIf="settingsService.hasGlobalSettings">
				<div class="location-settings-type-title">Global Settings</div>
				<div *ngFor="let location of settingsService.globalProductLocations$ | async">
					<div class="location-item">
						<div class="location-path">
							{{location | pathTruncate:40}}
						</div>
						<div class="location-remove-path-icon" (click)="globalRemoveLocation(location)">&#215;</div>
					</div>
				</div>
				<div class="location-add-new-item">
					<div class="location-add-new-button" (click)="globalAddNewLocation()">&#x2b; Add Custom Location</div>
					<div class="location-add-new-button" (click)="globalAddDefaultLocation()">&#x2b; Add Default Location</div>
				</div>
			</div>
		</div>
		<div class="error-text" *ngIf="error$ | async else showLogLink">An error has occured. Please see the <span class="log-link" (click)="openLogFile()">log file</span></div>
		<ng-template #showLogLink><div><span class="log-link" (click)="openLogFile()">open log file</span></div></ng-template>>
	</div>
</div>
