<div class="contact-details" *ngIf="show$ | async">
	<div class="page-content">
		<div class="contact-details-pane-holder">
			<div class="contact-details-pane-border">
				<div class="contact-details-pane">
					<div class="contact-details-text">At Boardworks we are constantly striving to improve our products and all feedback is gratefully received.</div>
					<div class="contact-details-text">If you wish to comment on any of the content in the product please do get in touch:</div>
					<div>
						<div class="tab-bar">
								<div class="tab" [class.notselected]="locale !== usLocale" (click)="setLocale(usLocale)">U.S.</div>
								<div class="tab" [class.notselected]="locale !== ukLocale" (click)="setLocale(ukLocale)">U.K.</div>
							</div>
							<div class="contact-details-block us-details" *ngIf="locale === usLocale; else ukDetails">
								<div class="contact-details-row">
									<div class="contact-details-address">
										<div class="contact-details-text-title">Boardworks</div>
										<div class="contact-details-address-text">240 Kent Ave, Suite B12<br>Brooklyn, NY<br>11249</div>
									</div>
									<div class="contact-details-telephone">
										<div class="contact-details-text-title">Telephone:</div>
										<div class="contact-details-address-text">855-405-7939</div>
										<div class="contact-details-text-title">Fax:</div>
										<div class="contact-details-address-text">877-418-7996</div>
									</div>
								</div>
								<div class="contact-details-text-large contact-details-link" (click)="sendEmail()">{{emailAddress}}</div>
								<div class="contact-details-text-large contact-details-link" (click)="launchWebsite()">{{websiteAddress}}</div>
							</div>
							<ng-template #ukDetails>
								<div class="contact-details-block uk-details">
									<div class="contact-details-row">
										<div class="contact-details-address">
											<div class="contact-details-text-title">Boardworks</div>
											<div class="contact-details-address-text">Units 5-7 The Gallery<br>54 Marston Street<br>Oxford, OX4 1LF</div>
										</div>
										<div class="contact-details-telephone">
											<div class="contact-details-text-title">Telephone:</div>
											<div class="contact-details-address-text">01865 208 440</div>
											<div class="contact-details-text-title">Fax:</div>
											<div class="contact-details-address-text">01865 205 107</div>
										</div>
									</div>
									<div class="contact-details-text-large contact-details-link" (click)="sendEmail()">{{emailAddress}}</div>
									<div class="contact-details-text-large contact-details-link" (click)="launchWebsite()">{{websiteAddress}}</div>
								</div>
							</ng-template>
					</div>
					<div class="contact-details-pane-footer">
						<div class="contact-details-pane-footer-button-stack">
							<button class="checkForUpdatesButton" (click)="checkForUpdate()">Check for Updates</button>
							<button class="bugButton" (click)="reportBug()">Report a Bug</button>
						</div>
						<button class="closeButton" (click)="close()" i18n="[close button|contact details close button@@contactDetailsCloseButton">Close</button>
						<div class="contact-details-version">
							<button class="releaseNotesButton" (click)="showReleaseNotes()" >Show Release Notes</button>
							<div class="">{{version}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
