@import "../../../styles/theme.scss";
.contact-details {
	position: absolute;
	z-index: 50;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}


.tab-bar {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.tab {
	font-weight: $font-weight-semibold;
	font-size: 2rem;
	line-height: 1.75;
	color: $highlight-color;
	text-align: center;
	background: #FFFFFF;
	border-top: $standard-border;
	border-left: $standard-border;
	border-right: $standard-border;
	border-radius: 1rem 1rem 0 0;
	height: 4rem;
}

.tab.notselected {
	background: $highlight-color;
	color: #FFFFFF;
}

.contact-details-pane-holder {
	display: flex;
	justify-content: center;
}

.contact-details-pane-border {
	width: 62rem;
	height: 45rem;
	border: 0.15rem solid #FFFFFF;
	border-radius: 1rem;
	background: #FFFFFF;
	box-shadow: $contact-details-box-shadow;
}

.contact-details-pane {
	/*padding-top: 1.35rem;
	padding-bottom: 1.35rem;*/
	margin: 0 4rem;
	/* /width: 61rem;*/
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.contact-details-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/*margin: 2rem 2rem;*/
	border-left: $standard-border;
	border-right: $standard-border;
	border-bottom: $standard-border;
	border-radius: 0 0 1rem 1rem;
	height: 20rem;
}

.contact-details-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contact-details-text {
	font-size: 1.7rem;
	text-align: center;
	padding-bottom: 1rem;
	margin: 0 4rem;
}

.contact-details-text-large {
	font-size: 2rem;
	text-align: center;
	padding-bottom: 1rem;
}

.contact-details-text-small {
	font-size: 1.25rem;
	text-align: right;
}

.contact-details-link {
	cursor: pointer;
}

.contact-details-text-title {
	font-weight: $font-weight-semibold;
	font-size: 2.25rem;
	color: $highlight-color;
}

.contact-details-address { 
	display: flex;
	flex-direction: column;
}

.contact-details-address-text {
	font-size: 2rem;
}

.contact-details-pane-footer {
	display: flex;
	flex-direction: row;
	position: relative;
	align-content: flex-end;
	justify-content: flex-start;
	margin: 1rem 0 0 0;
}

.contact-details-pane-footer-button-stack {
	display: flex;
	flex-direction: column;
}

.closeButton {
	flex: 0 1 auto;
	width: 14rem;
	position: absolute;
	left: 50%;
	bottom: 0.5rem;
	transform: translateX(-50%)
}

.contact-details-version {
	flex: 0 1 auto;
	font-size: 1.25rem;
	align-self: flex-end;
	margin-left: auto;
	flex-direction: column;
	display: flex;
	align-items: flex-end;
}

.bugButton {
	border: #FFFFFF;
	font-size: 1rem;
	flex: 0 1 auto;
	width: 10rem;
	height: 2rem;
}

.releaseNotesButton {
	border: #FFFFFF;
	font-size: 1rem;
	flex: 0 1 auto;
	width: 12rem;
	height: 2rem;
}

.checkForUpdatesButton {
	border: #FFFFFF;
	font-size: 1rem;
	flex: 0 1 auto;
	width: 12rem;
	height: 2rem;
}