<div class="page">
	<bwfe-toolbar></bwfe-toolbar>
	
	<div class="page-content">
		<bwfe-contact-details></bwfe-contact-details>
		<div class="product-map-view">
			<div class="panel">
				<div class="product-map-top">
					<div class="product-map-info"><span class="product-map-text">Please choose your state standards </span><span class="product-map-text product-map-text-bold">or</span></div>
					<button class="product-map-bt-button" (click)="viewState('BT')">Browse by topic</button>
				</div>
				<div class="state-list-map">
					<div class="state-list-holder">
						<div class="state-list-border">
							<div class="state-list" #stateList>
								<perfect-scrollbar [autoPropagation]="true" class="product-scroller">
									<!--<bwfe-product-tile *ngFor="let data of product$ | async" [product]="data" (click)="selectProduct(data)" [selected]="isSelected(data)"></bwfe-product-tile>-->
									<div *ngFor="let state of states$ | async" id="{{state.abbreviation}}" (click)="selectState(state)" class="state-list-item" [ngClass]="{selected: (state$ | async) === state}">
										<div class="state-list-text">{{state.name}}</div>
									</div>
								</perfect-scrollbar>
							</div>
						</div>
					</div>
					<div class="state-map">
						<bwfe-state-map [states]="states$ | async" [selectedState]="state$ | async" (stateSelectionChange)="onStateSelectionChange($event)"></bwfe-state-map>
						<button [disabled]="(state$ | async) == null" (click)="viewState()">OK</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<bwfe-footer></bwfe-footer>
</div>