@import "../../styles/theme.scss";

.panel {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 94rem;
	height: 55.4rem;
}

.product-map-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: space-around;
	padding: 1.6rem 0;
}

.product-map-info {
	padding-right: 2rem;
}

.product-map-text {
	font-size: 2.5rem;
}

.product-map-text-bold {
	font-family: $font-family-name; 
	font-weight: $font-weight-semibold;
}

.product-map-bt-button {
	min-width: 29rem;;
}

.state-list-map {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.state-list-holder {
	display: flex;
	justify-content: center;
}

.state-list-border {
	width: 31rem;
	height: 41.28rem;
	border: 0.15rem solid #905BA1;
	border-radius: 1rem;
}

.state-list {
	margin: 10px 0;
	height: 39.28rem;
}

.state-list-item {
	padding: $product-map-state-list-item-padding;
	margin-left: 0.05rem;
	width: 28rem;
}

.state-list-item.selected {
	background-color: $product-map-state-list-selected-color;
}

.state-list-item .state-list-text {
	font-size: 2rem;
	
}

.state-map {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.state-map > button {
	min-width: 14rem;
}