@import "../../../styles/theme.scss";

.footer {
	background: $footer-background;
	height: $footer-height;
	width: $footer-width;
	/*position: fixed;
	bottom: 0;*/
}

.footer-buttons {
	display: flex;
	flex-direction: row;
}

.footer-buttons-left {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding-left: 3rem;
    padding-top: 2rem;
}

.footer-buttons-right {
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
    padding-right: 3rem;
    padding-top: 2rem;
}

.footer-buttons-right > button,
.footer-buttons-left > button {
	border: none;
	margin: 0 1rem;
	font-size: 2rem;
}

button.user-guide-button {
	width: 14rem;
}

button.contents-guide-button {
	width: 18.4rem;
}

button.change-product-button {
	width: 18.469rem;
}

button.add-products-button {
	width: 18.469rem;
}