<div class="footer" [ngStyle]="productStyle()">
	<div class="footer-buttons" *ngIf="!isRoot(); else rootFooter">
		<div class="footer-buttons-left">
			<button class="user-guide-button" *ngIf="hasUserGuide | async" (click)="launchUserGuide()">User Guide</button>
			<button class="contents-guide-button" *ngIf="hasContentsGuide | async" (click)="launchContentsGuide()">Contents Guide</button>
		</div>
		<div class="footer-buttons-right">
			<button class="change-state-button" (click)="changeState()" *ngIf="stateAbbreviation && !isMap()">Change State</button>
			<button class="change-product-button" (click)="changeProduct()">Change Product</button>
		</div>
	</div>
	<ng-template #rootFooter>
		<div class="footer-buttons">
			<div class="footer-buttons-left">
				<!--<bwfe-product-location></bwfe-product-location>-->
			</div>
			<div class="footer-buttons-right">
			</div>
		</div>
	</ng-template>
</div>