@import "../../styles/theme.scss";

.presentation-preview {
	height: $presentation-preview-height;
	width: 100%;
	background: #FFFFFF;
	position: fixed;
	bottom: $footer-height;
	display: flex;
	align-items: center; 
	box-shadow: $presentation-preview-box-shadow;
}

.presentation-preview-top-shadow {
	position: fixed;
	background: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 0.1rem;
    width: 100%;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
    bottom: 25.6rem;
}

.presentation-preview-close-button {
	font-size: 3rem;
    text-align: right;
    position: fixed;
    right: 1rem;
	z-index: 100;
	user-select: none;
	cursor: default;
	color: $highlight-color;
}

.slides-holder {
	display: flex;
	flex-direction: row;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.slide-item {
	padding: 0 0;
	user-select: none;
}

.slide-padding {
	padding: 0 1.5rem;
}

.slide-arrow-prev {
	min-width: 1.5rem;
	min-height: 1.82rem;
	width: 1.5rem;
	height: 2.1rem;
	background-color: #AEAEAE;
	mask-image: url(../../assets/icons/arrow.svg);
    -webkit-mask-image: url(../../assets/icons/arrow.svg);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin: 0.5rem;
	transform: rotate(180deg);
	margin-left: 2rem;
}

.slide-arrow-next {
	min-width: 1.5rem;
	min-height: 1.82rem;
	width: 1.5rem;
	height: 2.1rem;
	background-color: #AEAEAE;
	mask-image: url(../../assets/icons/arrow.svg);
    -webkit-mask-image: url(../../assets/icons/arrow.svg);
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	margin: 0.5rem;
	margin-right: 2rem;
}

.slide-arrow-prev.enabled {
	background-color: #905ba1;
}

.slide-arrow-next.enabled {
	background-color: #905ba1;
}