<div class="presentation-preview-top-shadow">
	<div class="presentation-preview-close-button" (click)="closePreview()">&times;</div>
	<div class="presentation-preview" (window:resize)="updateSlideList()">
		<div class="slide-arrow-prev enabled" [ngClass]="{enabled: hasPreviousSlide}" (click)="previousSlide()"></div>
		<div class="slides-holder" #holder>
			<div *ngFor="let slide of screenshots" class="slide-item">
				<div class="slide-padding">
					<bwfe-slide-thumbnail [thumbnail]="slide" (click)="launchPresentation()"></bwfe-slide-thumbnail>
				</div>
			</div>
		</div>
		<div class="slide-arrow-next enabled" [ngClass]="{enabled: hasNextSlide}" (click)="nextSlide()"></div>
	</div>
</div>
