@import "./styles/theme.scss";
@import "./styles/theme/fonts.scss";

/* You can add global styles to this file, and also import other style files */

html, body {
	font-size: 62.5%;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: #E6E7E8;
	margin: 0; 
	overflow: hidden;
	font-family: $font-family-name;
	font-weight: $font-weight-normal;
}

.background-logo {
	background-image: url('./assets//icons/BW_background.svg');
	background-size: 20rem 20rem;
	background-repeat: no-repeat;
	background-position: center;
	height: 100%;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page-content {
	flex: 1;
	display: flex;
    flex-direction: column; 
    justify-content: center;
}

.view {
	height: 100%;
}

.panel {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border-color: #FFFFFF;
	border-radius: 1.06rem;
}

button {
	/*width: 14rem;*/
	font-family: $button-font-family-name;
	font-weight: $button-font-weight;
	font-size: $button-font-size;
	border: $button-border;
	border-radius: $button-border-radius;
	color: $button-text-color;
	background: $button-background;
	box-shadow: $button-box-shadow;	
	height: $button-height;
}

button:hover {
	font-family: $button-hover-font-family-name;
	font-weight: $button-hover-font-weight;
	font-size: $button-hover-font-size;
	border: $button-hover-border;
	border-radius: $button-hover-border-radius;
	color: $button-hover-text-color;
	background: $button-hover-background;
	box-shadow: $button-hover-box-shadow;	
	height: $button-hover-height;
}

button:disabled,
button[disabled] {
	font-family: $button-disabled-font-family-name;
	font-weight: $button-disabled-font-weight;
	font-size: $button-disabled-font-size;
	border: $button-disabled-border;
	border-radius: $button-disabled-border-radius;
	color: $button-disabled-text-color;
	background: $button-disabled-background;
	box-shadow: $button-disabled-box-shadow;	
	height: $button-disabled-height;
}

button:active {
	font-family: $button-active-font-family-name;
	font-weight: $button-active-font-weight;
	font-size: $button-active-font-size;
	border: $button-active-border;
	border-radius: $button-active-border-radius;
	color: $button-active-text-color;
	background: $button-active-background;
	box-shadow: $button-active-box-shadow;	
	height: $button-active-height;
}

.ps__rail-y {
	background-color: rgba(0,0, 0, 0.2) !important;
	opacity: 1 !important;
	width: 6px;
}

perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover, perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
	width: 6px;
}

perfect-scrollbar.product-scroller > .ps.ps--active-y > .ps__rail-y,
perfect-scrollbar.product-scroller > .ps.ps--active-y > .ps__rail-y:hover {
	width: 6px;
	right: 7px !important;
}

perfect-scrollbar.product-scroller > .ps.ps--active-y > .ps__rail-y:hover > .ps__thumb-y, 
perfect-scrollbar.product-scroller > .ps.ps--active-y > .ps__rail-y:focus > .ps__thumb-y {
	width: 6px;
	background-color: #444444;
	right: 0px;
}

perfect-scrollbar.product-scroller > .ps:hover > .ps__rail-x, 
perfect-scrollbar.product-scroller > .ps:hover > .ps__rail-y, 
perfect-scrollbar.product-scroller > .ps.ps--focus > .ps__rail-x, 
perfect-scrollbar.product-scroller > .ps.ps--focus > .ps__rail-y, 
perfect-scrollbar.product-scroller > .ps.ps--scrolling-x > .ps__rail-x, 
perfect-scrollbar.product-scroller > .ps.ps--scrolling-y > .ps__rail-y {
	opacity: 1;
	background-color: #E6E7E8;
	border-radius: 6px;
	width: 6px;
	right: 7px !important;
}

perfect-scrollbar.product-scroller > .ps > .ps__rail-y > .ps__thumb-y {
	width: 6px;
	background-color: #444444;
	right: 0px;
}

perfect-scrollbar.product-scroller > .ps:hover > .ps__rail-x > .ps__thumb-x, 
perfect-scrollbar.product-scroller > .ps:hover > .ps__rail-y > .ps__thumb-y, 
perfect-scrollbar.product-scroller > .ps.ps--focus > .ps__rail-x > .ps__thumb-x, 
perfect-scrollbar.product-scroller > .ps.ps--focus > .ps__rail-y > .ps__thumb-y, 
perfect-scrollbar.product-scroller > .ps.ps--scrolling-x > .ps__rail-x > .ps__thumb-x, 
perfect-scrollbar.product-scroller > .ps.ps--scrolling-y > .ps__rail-y > .ps__thumb-y {
	background-color: #444444;
	right: 0px;
}

/*.ps:hover .product-card {
	width: 60.23rem;
}*/