
@font-face {
	font-family: $font-family-name;
	src: url($font-regular-path) format($font-family-format);
	font-weight: $font-weight-normal;
	font-style: $font-style-normal;
}

@font-face {
	font-family: $font-family-name;
	src: url($font-medium-path) format($font-family-format);
	font-weight: $font-weight-medium;
	font-style: $font-style-normal;
}

@font-face {
	font-family: $font-family-name;
	src: url($font-semibold-path) format($font-family-format);
	font-weight: $font-weight-semibold;
	font-style: $font-style-normal;
}
