/* Fonts */
$font-regular-path: "./assets/fonts/Montserrat-Regular.ttf";
$font-regular-italic-path: "./assets/fonts/Montserrat-Italic.ttf";
$font-medium-path: "./assets/fonts/Montserrat-Medium.ttf";
$font-medium-italic-path: "./assets/fonts/Montserrat-MediumItalic.ttf";
$font-semibold-path: "./assets/fonts/Montserrat-SemiBold.ttf";
$font-semibold-italic-path: "./assets/fonts/Montserrat-SemiBoldItalic.ttf";

$font-family-name: "montserrat";
$font-family-format: "truetype";

$font-weight-normal: normal;
$font-weight-medium: 500;
$font-weight-semibold: 600;

$font-style-normal: "normal";
$font-style-italic: "italic";

$highlight-color: #905BA1;
$light-grey: #E6E7E8;
$error-color: #990000;

$standard-border: 0.15rem solid $highlight-color;

/* Button styling */
/* normal */
$button-font-family-name: $font-family-name;
$button-font-weight: $font-weight-medium;
$button-font-size: 2rem;
$button-border: $standard-border;
$button-border-radius: 0.5rem;
$button-text-color: #444444;
$button-background: #FFFFFF;
$button-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
$button-light-box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.8);
$button-height: 3.6rem;

/* hover */
$button-hover-font-family-name: $button-font-family-name;
$button-hover-font-weight: $font-weight-semibold;
$button-hover-font-size: $button-font-size;
$button-hover-border: $button-border;
$button-hover-border-radius: $button-border-radius;
$button-hover-text-color: $button-text-color;
$button-hover-background: $light-grey;
$button-hover-box-shadow: $button-box-shadow;
$button-hover-height: $button-height;

/* disabled */
$button-disabled-font-family-name: $button-font-family-name;
$button-disabled-font-weight: $font-weight-medium;
$button-disabled-font-size: $button-font-size;
$button-disabled-border: 1px solid #999999;
$button-disabled-border-radius: $button-border-radius;
$button-disabled-text-color: #666666;
$button-disabled-background: #cccccc;
$button-disabled-box-shadow: $button-box-shadow;
$button-disabled-height: $button-height;

/* active */
$button-active-font-family-name: $button-font-family-name;
$button-active-font-weight: $font-weight-semibold;
$button-active-font-size: $button-font-size;
$button-active-border: 1px solid $highlight-color;
$button-active-border-radius: $button-border-radius;
$button-active-text-color: #FFFFFF;
$button-active-background: $highlight-color;
$button-active-box-shadow: $button-box-shadow;
$button-active-height: $button-height;


/* Footer styling */
$footer-height: 7.6rem;
$footer-width: 100%;
$footer-background: $highlight-color;

/* Toolbar styling */
$toolbar-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
$toolbar-title-font-weight: $font-weight-semibold;
$toolbar-title-font-size: 3rem;
$toolbar-title-text-align: right;
$toolbar-title-padding: 0 1.8rem 0 0;
$toolbar-band-height: 7.6rem;
$toolbar-band-background: #FFFFFF;

$toolbar-icon-width: 6rem;
$toolbar-icon-height: 6rem;
$toolbar-icon-padding: 0 4rem 0 0;


/* Footer styling */
$footer-height: 7.6rem;


/* Update Band styling */
$update-band-background: $highlight-color;
$update-band-height: 3rem;

$update-band-message-font-name: $font-family-name;
$update-band-message-font-weight: $font-weight-semibold;
$update-band-message-font-style: $font-style-normal;
$update-band-message-font-size: 1.5rem;
$update-band-message-text-color: #FFFFFF;


/* Product Selection styling */
$product-selection-loading-font: $font-weight-normal 2rem $font-family-name;

/* Activity Entry styling */
$activity-entry-title-font-weight: $font-weight-medium;

/* Activity Thumbnail styling */
/* preview */
$activity-thumbnail-preview-width: 15.3rem;
$activity-thumbnail-preview-height: 11.4rem;
$activity-thumbnail-preview-border: $standard-border;
$activity-thumbnail-preview-border-radius: 1rem;
$activity-thumbnail-preview-background: $highlight-color;

/* corner ribbon */
$activity-thumbnail-corner-ribbon-width: 15rem;
$activity-thumbnail-corner-ribbon-height: 4.2rem;
$activity-thumbnail-corner-ribbon-background: $highlight-color;
$activity-thumbnail-corner-ribbon-text-color: #F0F0F0;
$activity-thumbnail-corner-ribbon-font-name: $font-family-name;
$activity-thumbnail-corner-ribbon-font-weight: $font-weight-semibold;


/* Product Tile styling */
$product-tile-details-title-font-name: $font-family-name;
$product-tile-details-title-font-weight: $font-weight-semibold;

/* Product View styling */
$product-view-title-font-name: $font-family-name;
$product-view-title-font-weight: $font-weight-semibold;
$product-view-tagline-font-name: $font-family-name;
$product-view-tagline-font-weight: $font-weight-normal;
$product-view-tagline-font-size: 2.8rem;
$product-view-tagline-padding: 0 7.5rem 0 0;
$product-view-or-font-name: $font-family-name;
$product-view-or-font-weight: $font-weight-normal;

/* Product Map styling */
$product-map-state-list-item-padding: 0.5rem 0.75rem;
$product-map-state-list-selected-color: #AEAEAE;

/* State View styling */
$state-view-band-font-name: $font-family-name;
$state-view-band-font-weight: $font-weight-semibold;

/* Standards Tree styling */
$standards-tree-node-label-font-name: $font-family-name;
$standards-tree-node-label-font-weight: $font-weight-normal;


/* Contact Details styling */
$contact-details-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);


/* Presentation Preview styling */
$presentation-preview-height: 18rem;
$presentation-preview-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);

/* Slide Thumbnail Preview styling */
$slide-thumbnail-preview-width: 16.5rem;
$slide-thumbnail-preview-height: 12.294rem;
$slide-thumbnail-preview-border: $standard-border;
$slide-thumbnail-preview-border-radius: 1rem;
$slide-thumbnail-preview-background: $highlight-color;

/* Product Location Panel styling */
$product-location-box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.2); 

/* Settings Sidebar styling */
$settings-box-shadow: -2px -3px 1px rgba(0, 0, 0, 0.2);
$settings-heading-background: $light-grey;

$settings-title-font: $font-weight-semibold 2rem $font-family-name;
$settings-close-icon-font: $font-weight-medium 3rem $font-family-name;

$settings-item-title-font: $font-weight-medium 1.5rem $font-family-name;
$settings-item-description-font: $font-weight-normal 1.25rem $font-family-name;

$product-location-item-font: $font-weight-normal 1.25rem $font-family-name;
$product-location-remove-item-font: $font-weight-normal 3rem $font-family-name;
$product-location-remove-item-color: #660000;

$product-location-reset-font: $font-weight-normal 1.25rem $font-family-name;
$product-location-reset-color: #660000;