@import "../../../styles/theme";

.update-band {
	background: $update-band-background;
	height: $update-band-height;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.update-band-message {
	font-family: $update-band-message-font-name;
	font-weight: $update-band-message-font-weight;
	font-style: $update-band-message-font-style;
	font-size: $update-band-message-font-size;
	color: $update-band-message-text-color;
	margin-left: auto;
}

.update-band-download-update {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.update-band-buttons {
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 1rem;
}

.update-band-buttons > button {
	height: 1.75em;
	font-size: 1.25rem;
}

.update-band-release-notes-button {

}

.update-band-download-button {

}

.download-progress {
	display: flex;
	align-self: center;
	width: 20rem;
	padding-right: 1rem;
}

.progress-bar-track {
	width: 100%;
	background: #444444;
}

.progress-bar {
	width: 0%;
	height: 0.3rem;
	background: #FFFFFF;
}

.error-message {
	margin: 0;
	color: $error-color;
}

.log-link {
	font-weight: 700;
	text-decoration: underline;
	cursor: pointer;
}