<div class="update-band" *ngIf="(update$ | async)?.available">
	<div class="update-band-download-update">
		<div class="update-band-message error-message" *ngIf="(error$ | async); else noerror">There was a problem updating Boardworks. Please see the <span class="log-link" (click)="openLogFile()">log file</span> for details.</div>
		<ng-template #noerror>
			<div *ngIf="!(update$ | async)?.downloaded && !(isDownloading | async); else updateDownloadedMessage" class="update-band-message">There is an update available - version {{(update$ | async)?.version}} is ready to download</div>
			<ng-template #updateDownloadedMessage>
				<div class="update-band-message" *ngIf="((isDownloading | async) || downloadInitiated) && !(update$ | async)?.downloaded; else updateReadyMessage">The update is downloading. You can continue to use the product</div>
				<ng-template #updateReadyMessage>
					<div class="update-band-message" *ngIf="(update$ | async)?.portable; else updateReadyToInstallMessage">Click to show the new version of the standalone Boardworks application</div>
					<ng-template #updateReadyToInstallMessage>
						<div class="update-band-message">Restart Boardworks to apply the latest update</div>
					</ng-template>				
				</ng-template>
			</ng-template>
			
			<div class="update-band-buttons">
				<!-- If not downloading or already downloaded, show 'download' button-->
				<button (click)="downloadUpdate()" class="update-band-download-button" *ngIf="!(isDownloading | async) && !(update$ | async)?.downloaded; else downloadProgress">Download</button>
				<ng-template #downloadProgress>
					<!-- Show the progress bar whilst downloading -->
					<div class="download-progress" *ngIf="isDownloading | async">
						<div class="progress-bar-track">
							<div class="progress-bar" [ngStyle]="{'width': (update$ | async)?.percent + '%'}"></div>
						</div>
					</div>
				</ng-template>
				<!-- Show the 'show' button when downloaded and the application is portable -->
				<button (click)="show()" class="update-band-download-button" *ngIf="(update$ | async)?.downloaded && (update$ | async)?.portable">Show</button>
				<!-- Show the 'update now' button when downloaded and the application is not portable -->
				<button (click)="update()" class="update-band-download-button" *ngIf="(update$ | async)?.downloaded && !(update$ | async)?.portable">Update Now</button>
				<!-- Show the release notes button if there are release notes available -->
				<button *ngIf="(update$ | async)?.release != ''" (click)="showReleaseNotes()" class="update-band-release-notes-button">Release Notes</button>
			</div>
		</ng-template>
	</div>
<!--
	<div class="update-band-download-update" *ngIf="(update$ | async)?.downloaded">
		<div class="update-band-download-update" *ngIf="(update$ | async)?.portable; else installerUpdate">
			<div class="update-band-message">Click to show the new version of the standalone Boardworks application</div>
			<div class="update-band-buttons">
				<button (click)="show()" class="update-band-download-button">Show</button>
				<button *ngIf="(update$ | async)?.release != ''" (click)="showReleaseNotes()" class="update-band-release-notes-button">Release Notes</button>
			</div>
		</div>
		<ng-template #installerUpdate>
			<div class="update-band-message">Restart Boardworks to apply the latest update</div>
			<div class="update-band-buttons">
				<button (click)="update()" class="update-band-download-button">Update Now</button>
				<button *ngIf="(update$ | async)?.release != ''" (click)="showReleaseNotes()" class="update-band-release-notes-button">Release Notes</button>
			</div>
		</ng-template>
	</div>
-->
</div>