@import "../../styles/theme.scss";

.state-band {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 3rem;
	display: flex;
	background-color: $highlight-color;
}

.state-band > .state-name {
	font-family: $state-view-band-font-name;
	font-weight: $state-view-band-font-weight;
	font-size: 2.7em;
	color: #FFFFFF;
	margin-right: 4rem;
}

.standards {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.standards-pane {
	background-color: #FFFFFF;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border: 0.15rem solid #905BA1;
	border-radius: 1.06rem;
	width: 93.8rem;
	height: 55.5rem;
}

.pane-content {
	display: flex;
	flex-direction: row;
}

.standards-pane > .pane-content > .activities {
	width: 93.8rem;
	height:	53.5rem;
	overflow: hidden;
	padding: 1rem 0.1rem;
}

.grid-container {
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-column-gap: 1px;
}