<div *ngIf="!selected; else locationPanel">
	<button class="add-products-button" (click)="showLocationPanel()">Add Products</button>
</div>
<ng-template #locationPanel>
	<div class="location-panel">
		<div *ngFor="let location of productService.locations">
			<div class="location-item">
				{{location}}
			</div>
		</div>
		<button>Update</button>
	</div>
</ng-template>
