@import "../../../styles/theme.scss";

.location-panel {
	width: 40rem;
	background: #FFFFFF;
	position: absolute;
	bottom: 2rem;
	border-top: 0.1px solid $highlight-color;
	box-shadow: $product-location-box-shadow;
}

.location-item {
	font-size: 1.6rem;

}